@charset "UTF-8";
/*
$font-xs: 1rem;
$font-s: 1.2rem;
$font-m: 1.4rem;
$font-l: 1.6rem;
$font-xl: 1.8rem;
$font-xxl: 2rem;
*/
.l-head {
  padding: 80px 0;
}

/**************************************
	記事レイアウト
**************************************/
.l-article {
  background: #f6f6f6;
  padding: 50px 20px 80px;
}

@media (max-width: 767px) {
  .l-article {
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}

.l-article--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .l-article--wrap {
    display: block;
  }
}

.l-article--left {
  width: 680px;
}

@media (max-width: 767px) {
  .l-article--left {
    width: 100%;
  }
}

.l-article--right {
  height: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 50px;
  background: #fff;
}

@media (max-width: 767px) {
  .l-article--right {
    width: 100%;
    margin-left: 0;
  }
}

/**************************************
	記事本文
**************************************/
.article {
  background: #fff;
}

.article__header_wrap {
  padding: 30px;
}

@media (max-width: 767px) {
  .article__header_wrap {
    padding: 30px 12px;
  }
}

.article__header figure {
  padding-bottom: 61.8%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.article__header figure figcaption {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFF002;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1rem;
  font-weight: bold;
}

.article__header h1 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.4;
  display: inline;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(50%, #FFF002));
  background: linear-gradient(transparent 75%, #FFF002 50%);
}

.article__header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
}

.article__header_info span {
  display: block;
  border: #f2f2f2 solid 2px;
  font-size: 1rem;
  padding: 6px 16px;
  color: #666;
  background: #f2f2f2;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 16px;
}

.article__header_info time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.article__sns {
  margin-top: 30px;
}

.article__body {
  padding: 0 30px;
}

@media (max-width: 767px) {
  .article__body {
    padding: 0 12px;
  }
}

.article__body h1, .article__body h2, .article__body h3, .article__body h4 {
  font-size: 2.2rem;
  line-height: 1.4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(50%, #FFF002));
  background: linear-gradient(transparent 80%, #FFF002 50%);
  display: inline;
}

.article__body h1 span, .article__body h2 span, .article__body h3 span, .article__body h4 span {
  text-decoration: none !important;
}

.article__body h1 u, .article__body h2 u, .article__body h3 u, .article__body h4 u {
  text-decoration: none;
}

@media (max-width: 767px) {
  .article__body p {
    text-align: justify;
    font-size: 1.4rem;
  }
}

.article__body img {
  max-width: 100%;
  height: auto;
}

.article__body a {
  color: #2D9CDB;
  text-decoration: underline;
}

.article__body a[target="_blank"]::after {
  content: "\e3e0";
  font-family: 'icomoon';
  font-weight: normal;
  margin-left: 1px;
}

.article__body .aligncenter {
  display: block;
  margin: 0 auto;
}

.article__footer {
  padding: 0 30px 30px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .article__footer {
    padding: 0 12px 30px;
  }
}

.article__footer_likeBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.article__footer_likeBox figure, .article__footer_likeBox > div {
  width: 50%;
}

.article__footer_likeBox figure {
  padding-bottom: 30.9%;
  background-size: cover;
  background-position: center center;
}

.article__footer_likeBox > div {
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.article__footer_likeBox > div b {
  line-height: 1.8;
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .article__footer_likeBox > div b {
    font-size: 1.3rem;
    line-height: 1.4;
  }
}

/**************************************
	前後の記事リンク
**************************************/
.article__prevnext {
  margin-top: 15px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .article__prevnext {
    padding: 12px;
  }
}

@media (max-width: 767px) {
  .article__prevnext {
    display: block;
  }
}

.article__prevnext a {
  display: block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.article__prevnext a:hover {
  background: #FFF002;
}

.article__prevnext .prev,
.article__prevnext .next {
  width: 42%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 0;
}

@media (max-width: 767px) {
  .article__prevnext .prev,
  .article__prevnext .next {
    width: 100%;
  }
}

.article__prevnext .prev figure,
.article__prevnext .next figure {
  width: 65px;
  height: 65px;
  background-size: cover;
  background-position: center center;
}

.article__prevnext .prev div,
.article__prevnext .next div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.article__prevnext .prev time,
.article__prevnext .next time {
  font-size: 1.4rem;
  font-weight: bold;
}

.article__prevnext .prev p,
.article__prevnext .next p {
  font-size: 1.4rem;
}

.article__prevnext .prev {
  padding-left: 16px;
}

@media (max-width: 767px) {
  .article__prevnext .prev {
    padding-bottom: 12px;
  }
  .article__prevnext .prev::before {
    content: "\e902";
    font-family: 'icomoon';
    margin-right: 12px;
  }
}

.article__prevnext .prev figure {
  margin-right: 16px;
}

.article__prevnext .next {
  padding-right: 16px;
  text-align: right;
}

@media (max-width: 767px) {
  .article__prevnext .next {
    padding-top: 12px;
  }
  .article__prevnext .next::after {
    content: "\e901";
    font-family: 'icomoon';
    margin-left: 12px;
  }
}

.article__prevnext .next figure {
  margin-left: 16px;
}

.article__prevnext .archive {
  width: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .article__prevnext .archive {
    border-top: #eee solid 1px;
    border-bottom: #eee solid 1px;
    width: 100%;
    padding: 16px 0;
  }
}

.article__prevnext .archive::before {
  content: "\e908";
  font-family: 'icomoon';
  display: block;
  font-size: 1.4rem;
  margin-bottom: 8px;
  font-weight: normal;
}

/**************************************
	関連記事
**************************************/
.article__related {
  margin-top: 24px;
}

.article__related > b {
  display: block;
  margin-bottom: 24px;
  color: #4f4f4f;
  font-size: 2rem;
}

@media (max-width: 767px) {
  .article__related > b {
    padding-left: 12px;
  }
}

.article__related li {
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.article__related li:nth-of-type(n + 2) {
  border-top: #eee solid 1px;
}

.article__related li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
}

@media (max-width: 767px) {
  .article__related li a {
    padding: 12px;
  }
}

.article__related li figure {
  width: 140px;
  margin-right: 20px;
  background-size: cover;
  background-position: center center;
}

.article__related li div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 0;
}

.article__related li b {
  font-size: 1.8rem;
}

@media (max-width: 767px) {
  .article__related li b {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}

.article__related li p {
  font-size: 1.4rem;
  margin-top: 16px;
  color: #666;
}

@media (max-width: 767px) {
  .article__related li p {
    display: none;
  }
}

.article__related li time {
  font-size: 1.2rem;
  color: #666;
  font-weight: bold;
  margin-top: 16px;
  display: block;
}

.article__related li:hover {
  background: #FFF002;
}

/**************************************
	サイドメニュー
**************************************/
.article__new > b {
  display: block;
  color: #4f4f4f;
  padding: 24px 16px 8px;
  font-size: 2rem;
}

@media (max-width: 767px) {
  .article__new > b {
    background: #f6f6f6;
    padding: 24px 12px;
  }
}

.article__new li {
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.article__new li:nth-of-type(n + 2) {
  border-top: #eee solid 1px;
}

.article__new li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .article__new li a {
    padding: 12px;
  }
}

.article__new li figure {
  width: 75px;
  height: 75px;
  margin-right: 20px;
  background-size: cover;
  background-position: center center;
}

.article__new li div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.article__new li b {
  font-size: 1.4rem;
  font-weight: normal;
}

.article__new li p {
  font-size: 1.2rem;
  margin-top: 16px;
  color: #666;
}

.article__new li time {
  font-size: 1rem;
  color: #666;
  font-weight: bold;
  margin-top: 8px;
  display: block;
}

.article__new li:hover {
  background: #FFF002;
}
