//
// component - Button
// -----------------------------------


.m-btn {
	min-width: 300px;
	width: 320px;
	height: 60px;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $secondary-color;
	color: #fff;
	box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.1);
	@include fontFamily(vol, 400, 3px);
	@include transition();
	position: relative;
	margin: 0 auto;
	&::before {
		content: "";
		width: 20px;
		height: 1px;
		background: #fff;
		position: absolute;
		right: 20px;
		@include transition();
	}
	&::after {
		content: "";
		width: 7px;
		height: 7px;
		border-top: #fff solid 1px;
		border-right: #fff solid 1px;
		position: absolute;
		right: 20px;
		transform: rotate(45deg);
		@include transition();
	}
	&:hover {
		background: #fff;
		color: $secondary-color;
		&::before {
			background: $secondary-color;
			right: 10px;
		}
		&::after {
			border-top: $secondary-color solid 1px;
			border-right: $secondary-color solid 1px;
			right: 10px;
		}
	}
}







/*
.m-btn {
	width: 280px;
	background: $base-color-blue;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	color: #fff;
	font-weight: bold;
	font-size: 1.4rem;
	letter-spacing: 2px;
	font-family: 'Avenir Next';
	position: relative;
	border: $base-color-blue solid 2px;
	transition: all .2s ease;

	&::after {
		display: inline-block;
		content: "\e901";
		font-family: 'icomoon';
		position: absolute;
		right: 20px;
		opacity: 0;
		transition: all .4s ease;
		color: $base-color-blue;
	}


	&.-black {
		background: #333;
		color: #fff;
		border: #333 solid 2px;
		&::after {
			color: #333;
		}
		&:hover {
			color: #333!important;
			border: #333 solid 2px;
			&::after {
				color: #333!important;
			}
		}
	}

	&.-gray {
		border: #f2f2f2 solid 2px;
		background: #f2f2f2;
		color: #bdbdbd;
		&:hover {
			border: $base-color-blue solid 2px;
		}
	}

	@include screen-medium() {
		width: 100%;
		font-size: 1.2rem;
	}

	@include screen-large() {
		&:hover {
			background: none;
			color: $base-color-blue;
			&::after {
				right: 5px;
				opacity: 1;

			}
			&.-black {
				color: #333;
				&::after {
					color: #333;
				}
			}
		}
	}


}
*/
