@import "../_utils/_variables";
@import "../_utils/_mixins";

//
// component - Button
// -----------------------------------


.m-ttl {
	text-align: center;
	@include fontFamily(vol, 600, 4px);
	font-size: 1.8rem;
	position: relative;
	z-index: 1;
	span {
		display: block;
		font-size: 3.2rem;
		@include fontFamily(serif, 600, 8px);
		&::before {
			content: "";
			display: block;
			margin: 15px auto;
			width: 30px;
			height: 2px;
			background: #333;
		}
	}
}


.m-ttl2 {
	font-size: 3.6rem;
	@include fontFamily(serif, 700, 4px);
	@include lineHeight(1.6);
	display: block;
	text-align: center;
	@include screen-medium(){
		font-size:2.4rem;
	}
}
