/*
$font-xs: 1rem;
$font-s: 1.2rem;
$font-m: 1.4rem;
$font-l: 1.6rem;
$font-xl: 1.8rem;
$font-xxl: 2rem;
*/
.l-head.-isPC {
  height: 500px;
  position: relative;
  margin-bottom: 100px;
  margin-top: -100px;
  padding-left: 16px;
}

.l-head.-isPC .head__figure {
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
}

.l-head.-isPC .head__wrap {
  height: 100%;
}

.l-head.-isPC .head__content {
  width: 45%;
  height: 100%;
  position: relative;
  z-index: 1;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 40px;
}

.l-head.-isPC .head__content h1 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 1.4;
}

.l-head.-isPC .head__content h2 {
  font-size: 1.8rem;
  color: #666;
  line-height: 1.4;
}

.l-head.-isPC .head__content_table {
  border-bottom: #333 solid 2px;
  padding: 30px 0;
  position: relative;
  margin-top: 40px;
}

.l-head.-isPC .head__content_table::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #333;
  position: absolute;
  top: 0;
}

.l-head.-isPC .head__content_table td {
  font-weight: bold;
  padding: 16px 0;
}

@media (max-width: 767px) {
  .l-head.-isPC .head__content_table td {
    padding: 12px 0;
  }
}

.l-head.-isPC .head__content_table a {
  color: #999;
}

.l-head.-isSP .head__figure {
  height: 60vh;
  background-size: cover;
  background-position: center center;
}

.l-head.-isSP .head__content {
  width: calc(100% - 24px);
  margin: -30px auto 8px;
  background: #fff;
  padding: 20px 16px;
}

.l-head.-isSP .head__content h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 1.4;
}

.l-head.-isSP .head__content h2 {
  color: #666;
}

.l-head.-isSP .head__content_table {
  padding: 20px 0 0;
  position: relative;
  margin-top: 30px;
}

.l-head.-isSP .head__content_table::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #333;
  position: absolute;
  top: 0;
}

.l-head.-isSP .head__content_table td {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 16px 0;
}

@media (max-width: 767px) {
  .l-head.-isSP .head__content_table td {
    padding: 12px 0;
  }
}

.l-head.-isSP .head__content_table a {
  color: #999;
}

.l-panel {
  width: 90%;
  max-width: 1100px;
}

@media (max-width: 767px) {
  .l-panel {
    min-width: 100%;
    width: 100%;
    padding: 0 12px;
  }
}

.l-panel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.l-panel ul::before {
  content: "";
  display: block;
  width: 24.5%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.l-panel ul::after {
  content: "";
  display: block;
  width: 24.5%;
}

.l-panel li {
  width: 24.5%;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .l-panel li {
    width: calc(50% - 3px);
    margin-bottom: 10px;
  }
}

.l-panel a {
  display: block;
}

.l-panel figure {
  padding-bottom: 61.8%;
  background-size: cover;
  background-position: center center;
}

.l-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .l-message {
    display: block;
    padding: 0 12px;
    margin-top: 40px;
  }
}

.l-message > div {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 80%;
  position: relative;
}

@media (max-width: 767px) {
  .l-message > div {
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
  }
}

.l-message > div:nth-of-type(1) {
  padding-right: 60px;
}

@media (max-width: 767px) {
  .l-message > div:nth-of-type(1) {
    padding-right: 0;
  }
}

.l-message > div:nth-of-type(2) {
  padding-left: 60px;
}

@media (max-width: 767px) {
  .l-message > div:nth-of-type(2) {
    padding-left: 0;
    margin-top: 30px;
  }
}

.l-message > div:nth-of-type(2)::before, .l-message > div:nth-of-type(2)::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: #333;
  position: absolute;
  left: -50px;
}

@media (max-width: 767px) {
  .l-message > div:nth-of-type(2)::before, .l-message > div:nth-of-type(2)::after {
    content: none;
  }
}

.l-message > div:nth-of-type(2)::before {
  top: 0;
}

.l-message > div:nth-of-type(2)::after {
  bottom: 0;
}

@media (max-width: 767px) {
  .l-message > div:nth-of-type(2) > div {
    border-top: #333 solid 1px;
    padding-top: 40px;
  }
}

.l-message > div:nth-of-type(2) > div::before, .l-message > div:nth-of-type(2) > div::after {
  content: "";
  display: block;
  background: #333;
  width: 1px;
  height: 40px;
  position: absolute;
  left: -1px;
}

@media (max-width: 767px) {
  .l-message > div:nth-of-type(2) > div::before, .l-message > div:nth-of-type(2) > div::after {
    content: none;
  }
}

.l-message > div:nth-of-type(2) > div::before {
  top: 0;
}

.l-message > div:nth-of-type(2) > div::after {
  bottom: 0;
}

.l-message h2 {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

@media (max-width: 767px) {
  .l-message h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}

.l-message h2 span {
  font-family: 'Antro Vectra bolder';
  font-size: 3rem;
  padding-right: 30px;
  margin-right: 20px;
  position: relative;
}

@media (max-width: 767px) {
  .l-message h2 span {
    margin-right: 24px;
    padding-right: 0;
    margin-top: -5px;
  }
}

.l-message h2 span::after {
  content: "";
  display: inline-block;
  height: 12px;
  width: 1px;
  background: #333;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

@media (max-width: 767px) {
  .l-message h2 span::after {
    content: none;
  }
}

@media (max-width: 767px) {
  .l-message .message__text p {
    font-size: 1.2rem;
    text-align: justify;
  }
}

@media (max-width: 767px) {
  .l-share {
    padding: 0 12px;
  }
}

.share__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.l-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
}

.l-btn .m-btn {
  margin: 0;
}

.l-btn .m-btn:nth-of-type(n + 2) {
  margin-left: 8px;
}

@media (max-width: 767px) {
  .l-btn {
    padding: 0 12px;
    display: block;
  }
  .l-btn .m-btn:nth-of-type(n + 2) {
    margin-left: 0;
    margin-top: 16px;
  }
}

.l-voice {
  margin-top: 90px;
}

@media (max-width: 767px) {
  .l-voice {
    margin-top: 70px;
  }
}

.l-voice a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .l-voice a {
    display: block;
  }
}

.l-voice figure {
  width: 35%;
  height: 240px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

@media (max-width: 767px) {
  .l-voice figure {
    width: 100%;
    height: auto;
    padding-bottom: 61.8%;
  }
}

.l-voice figure::before {
  content: "Voice";
  font-family: 'Antro Vectra bolder';
  font-size: 5.5rem;
  display: block;
  position: absolute;
  top: -10px;
  right: -40px;
}

@media (max-width: 767px) {
  .l-voice figure::before {
    top: -30px;
    right: 12px;
    font-size: 5rem;
  }
}

.l-voice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0 20px 40px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 767px) {
  .l-voice div {
    padding: 16px 24px 0;
  }
}

.l-voice div h2 {
  font-size: 2.2rem;
  text-decoration: underline;
  margin-bottom: 16px;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .l-voice div h2 {
    font-size: 1.8rem;
  }
}

.l-voice div p {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .l-voice div p {
    display: none;
  }
}

@media (max-width: 767px) {
  .l-voice div b {
    font-size: 1.2rem;
    display: block;
    margin-top: 16px;
  }
}

.l-recommend {
  margin-top: 60px;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .l-recommend {
    padding: 0 12px;
    margin-bottom: 40px;
  }
}

.recommend__title {
  display: block;
  margin-bottom: 30px;
}

.recommend__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.recommend__slider li {
  width: 32%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.recommend__slider li:hover {
  opacity: .7;
}

.recommend__slider a {
  display: block;
}

.recommend__slider figure {
  padding-bottom: 61.8%;
  margin-bottom: 16px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767px) {
  .recommend__slider {
    width: 800px;
  }
}

@media (max-width: 767px) {
  .recommend__slider_wrap {
    overflow-x: scroll;
    padding: 0px 0 10px;
    -webkit-overflow-scrolling: touch;
  }
}
