input(id="c-more-btn" type="checkbox").c-more-btn__trigger
address.c-companyinfo.c-more-btn__fire
	h2.m-ttl2 会社概要
	table
		tr
			th 社名
			td 株式会社オフィス・ラボ
		tr
			th 代表取締役
			td 渡邉 晃一郎
		tr
			th 本社
			td
				a(href="https://goo.gl/maps/AMzNtkgdtYT2" target="_blank") 東京都中央区日本橋本町3-3-6	WAKAMATSU BUILDING 9F
		tr
			th
			td
				iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3437.185113724023!2d139.77195514265495!3d35.688695743334605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188eac9eb84369%3A0xb92b415012949039!2z5qCq5byP5Lya56S-44Kq44OV44Kj44K544O744Op44Oc!5e0!3m2!1sja!2sjp!4v1552546733298" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen="")
		tr
			th 支店
			td 東海オフィス / 大阪オフィス / 九州オフィス
		tr
			th 設立
			td 2010年7月1日
		tr
			th 資本金
			td 50,000,000円
		tr
			th 業務内容
			td
				ul
					li オフィス移転のプロジェクトマネジメント
					li ファシリティコンサルティング業務
					li 設計・デザイン、企画及び施工・管理
					li 家具及びインテリア用品・消耗品他の販売・レンタル
		tr
			th 主要取引先
			td
				ul.-col2
					li 株式会社パソナグループ
					li オリエンタル技研株式会社
					li 株式会社ウィルグループ
					li 株式会社ハタノシステム
					li 株式会社セントメディア
					li 株式会社日ノ樹
					li 株式会社オープンハウス
					li 株式会社ナルミヤ・インターナショナル
					li パーク24株式会社
					li 三井不動産ビルマネジメント株式会社
					li 三井不動産リアルティ株式会社
					li テクダイヤ株式会社
					li 山万株式会社
					li 東洋ビジネスエンジニアリング株式会社
					li 株式会社保険見直し本舗
					li 厚生労働省
					li 株式会社パシフィックソーワ
					li 環境省
					li 京都きもの友禅株式会社
					li 他
		tr
			th 取引銀行
			td
				ul
					li みずほ銀行 横山町支店
					li 三井住友銀行 人形町支店
					li りそな銀行 日本橋支店
					li きらぼし銀行 神田支店
		tr
			th 許認可事項
			td
				ul
					li 一級建築士事務所　東京都知事登録　第60746号
					li 特定建設業許可　東京都知事（特-28）第135661号
					li 特定建設業許可　東京都知事（特-30）第135661号
					li 古物商許可（東京都）
					li 各省庁建設工事、競争参加資格認定、全省庁統一資格
		tr
			th 顧問
			td
				ul
					li #[a(href="http://www.keiei-consul.jp/" target="_blank") 長江友和公認会計士・税理士事務所]
					li 中林税務会計事務所
					li #[a(href="http://www.office-taniguchi.jp/" target="_blank") 司法書士谷口宏平事務所]

label(for="c-more-btn").c-more-btn
