.c-hugelinks
	ul
		li PROJECT
		li 施工事例一覧
		//li.icon-arrow-right2
		a(href="")
	ul
		li VOICE
		li お客様の声
		//li.icon-arrow-right2
		a(href="")
	ul
		li CONTACT
		li お問い合わせ
		//li.icon-arrow-right2
		a(href="")
	.background-something
