.c-presidentlink
	.c-presidentlink__img
		img.-isPC(src="./assets/img/company/president.jpg", alt="代表取締役社長　渡邉 晃一郎")
		img.-isSP(src="./assets/img/company/president--SP.jpg", alt="代表取締役社長　渡邉 晃一郎")
	include ./_c-skeltonarrow
	a(href="")
