//
// Variables
// -----------------------------------

//
// Root
//

$root: "../../../";


//
// font size
//

/*
$font-xs: 1rem;
$font-s: 1.2rem;
$font-m: 1.4rem;
$font-l: 1.6rem;
$font-xl: 1.8rem;
$font-xxl: 2rem;
*/




$font-xs: 1.2rem;
$font-s: 1.4rem;
$font-m: 1.6rem;
$font-l: 1.8rem;
$font-xl: 2rem;
$font-xxl: 2.2rem;



//
// fontfamily
//

$font-family-notosans: 'Noto Sans JP', sans-serif; 	// メイン文字
$font-family-notoserif: 'Noto Serif JP', serif;			// タイトル日本語
$font-family-vollkorn: 'Vollkorn', serif;						// タイトル英語
$font-family-antrovectra: 'Antro Vectra bolder';		// 手書き文字


//
// Colors
//
$primary-color: #f7e789 !default;
$secondary-color: #00235c !default;
$color-gray1: #f3f3f3 !default;


$base-color-yellow: #FFF002 !default;
$base-color-blue: #397bf6 !default;
$border-color1: #333333;
$border-color2: #F2F2F2;
$link-color: #2D9CDB;
$link-color-yellow: #ffcf21;


//
// border
//
$base-border: #eee solid 1px;



//
// padding
//
$base-pd: 12px;


//
// Breakpoint
//

$base-breakpoint-small: 768px !default;
$base-breakpoint-medium: 769px !default;
$base-breakpoint-large:  1200px !default;
$base-breakpoint-xlarge: 1600px !default;



//
// Easing
//

$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$linear: cubic-bezier(0, 0, 1, 1);
$easeIn: cubic-bezier(0.42, 0, 1, 1);
$easeOut: cubic-bezier(0, 0, 0.58, 1);
$easeInOut: cubic-bezier(0.42, 0, 0.58, 1);
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
