mixin o-classificationList(tags)
  ul.o-classificationList
    each tag in tags
      li.o-classificationList__tag
        a.o-classificationList__tag__link
          p.o-classificationList__tag__link__inner #{tag}