.o-headerInner
  a(href="").m-logo
    img(src=imgPath + "common/be-topia-logo.svg", alt="be-topia").m-logo__image
  .o-headerInner__left
    a(href="").icon-instagram
    a(href="").icon-twitter
    a(href="").icon-facebook
      span.path1
      span.path2
