.o-headerInnerPc
  a(href="").m-logo
    img(src=imgPath + "common/be-topia-logo.svg", alt="be-topia").m-logo__image
  .o-headerInnerPc__left
    ul.o-headerInnerPc__left__category
      li.o-headerInnerPc__left__category__list
        a(href="").o-headerInnerPc__left__category__list__link
          span.icon-feature.o-headerInnerPc__left__category__list__link__icon
            span.path1
            span.path2
            span.path3
          p.o-headerInnerPc__left__category__list__link__text 特集
      li.o-headerInnerPc__left__category__list
        a(href="").o-headerInnerPc__left__category__list__link
          span.icon-hobby.o-headerInnerPc__left__category__list__link__icon
            span.path1
            span.path2
            span.path3
            span.path4
            span.path5
          p.o-headerInnerPc__left__category__list__link__text 趣味
      li.o-headerInnerPc__left__category__list
        a(href="").o-headerInnerPc__left__category__list__link
          span.icon-life.o-headerInnerPc__left__category__list__link__icon
            span.path1
            span.path2
          p.o-headerInnerPc__left__category__list__link__text 生活
      li.o-headerInnerPc__left__category__list
        a(href="").o-headerInnerPc__left__category__list__link
          span.icon-learn.o-headerInnerPc__left__category__list__link__icon
            span.path1
            span.path2
            span.path3
          p.o-headerInnerPc__left__category__list__link__text 学び
    ul.o-headerInnerPc__left__button
      li.o-headerInnerPc__left__button__list
        .o-headerInnerPc__left__button__list__icon
          span.icon-search2
            span.path1
            span.path2
            span.path3
        p.o-headerInnerPc__left__button__list__text したい・ほしいを<br><strong>探す</strong>
      li.o-headerInnerPc__left__button__list
        .o-headerInnerPc__left__button__list__icon
          span.icon-star2
            span.path1
            span.path2
        p.o-headerInnerPc__left__button__list__text したい・ほしいを<br><strong>叶える</strong>
    .o-headerInnerPc__left__icon
      a(href="").icon-instagram
      a(href="").icon-twitter
      a(href="").icon-facebook
        span.path1
        span.path2
      a(href="").icon-search