/*
$font-xs: 1rem;
$font-s: 1.2rem;
$font-m: 1.4rem;
$font-l: 1.6rem;
$font-xl: 1.8rem;
$font-xxl: 2rem;
*/
/*

.l-head {
	padding: 80px 0;
}


.l-privacy {
	border-top: #e0e0e0 solid 1px;
}
.privacy__wrap {
	width: 620px;
	margin: 60px auto 0;
	padding-bottom: 60px;

	@include screen-medium() {
		width: 100%;
		padding: 0 12px;
		margin-bottom: 50px;
	}
	> section {
		&:nth-of-type(n + 2) {
			border-top: #eee solid 1px;
			margin-top: 20px;
			padding-top: 60px;
		}

		> h2 {
			display: block;
			margin-bottom: 30px;
			font-size: 2.4rem;
			color: #444;
			font-weight: bold;
			line-height: 1.4;
		}
	}
	.privacy__note {
		&:nth-of-type(n + 2) {
			margin-top: 20px;
		}
		span {
			display: block;
			text-align: center;
		}
	}

	dl {
		dt {
			margin-top: 40px;
			font-weight: bold;
			color: #444;
			margin-bottom: 16px;
			line-height: 1.4;

			@include screen-medium() {
				margin-left: 24px;
				&:first-letter {
					margin-left: -23px;
				}
			}
		}
		dd {
			font-size: $font-s;
			color: #666;
			line-height: 1.8;

			p {
				//margin-top: 8px;
			}
			b {
				display: block;
				margin-top: 8px;
			}
		}
		.ol {
			padding-left: 16px;
			> li {
				list-style: decimal;
				&:nth-of-type(n + 2) {
					margin-top: 16px;
				}
			}
		}
		.ol2 {
			> li {
				&:nth-of-type(n + 2) {
					margin-top: 4px;
				}
			}
		}
	}

	p {
		font-size: $font-s;
		color: #666;
		@include screen-medium() {
			text-align: justify;
		}
	}

	address {
		margin-bottom: 30px;
		&.-right {
			margin-top: 40px;
			text-align: right;
		}
		> b {
			font-size: 1.4rem;
			color: #777;
			display: block;
			margin: 16px 0 16px;
		}
	}
	ul {
		margin-left: 2rem;
		margin-top: 5px;
		li {
			list-style-type: disc;
			color: #666;
			font-size: $font-s;
			line-height: 1.4;
			margin-bottom: 8px;
		}
	}
	small {
		display: block;
		text-align: right;
	}
}
*/
.l-head {
  padding: 80px 0;
}

.l-privacy {
  border-top: #e0e0e0 solid 1px;
}

.privacy__wrap {
  width: 620px;
  margin: 60px auto 0;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .privacy__wrap {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 50px;
  }
}

.privacy__wrap > section > h2 {
  display: block;
  margin-bottom: 30px;
  font-size: 2.4rem;
  color: #444;
  font-weight: bold;
  line-height: 1.4;
}

.privacy__wrap .privacy__note:nth-of-type(n + 2) {
  margin-top: 20px;
}

.privacy__wrap .privacy__note span {
  display: block;
  text-align: center;
}

.privacy__wrap dl dt {
  margin-top: 40px;
  font-weight: bold;
  color: #444;
  margin-bottom: 16px;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .privacy__wrap dl dt {
    margin-left: 24px;
  }
  .privacy__wrap dl dt:first-letter {
    margin-left: -23px;
  }
}

.privacy__wrap dl dd {
  font-size: 1.4rem;
  color: #666;
  line-height: 1.8;
}

.privacy__wrap dl dd p {
  margin-top: 16px;
}

.privacy__wrap dl .ol {
  padding-left: 16px;
}

.privacy__wrap dl .ol > li {
  list-style: decimal;
}

.privacy__wrap dl .ol > li:nth-of-type(n + 2) {
  margin-top: 16px;
}

.privacy__wrap dl .ol2 > li:nth-of-type(n + 2) {
  margin-top: 4px;
}

.privacy__wrap p {
  font-size: 1.4rem;
  color: #666;
}

@media (max-width: 767px) {
  .privacy__wrap p {
    text-align: justify;
  }
}

.privacy__wrap address {
  margin-top: 60px;
  margin-bottom: 30px;
}

.privacy__wrap address.-right {
  margin-top: 40px;
  text-align: right;
}

.privacy__wrap address > b {
  font-size: 1.4rem;
  color: #777;
  display: block;
  margin: 16px 0 16px;
}

.privacy__wrap ul {
  margin-left: 2rem;
  margin-top: 5px;
}

.privacy__wrap ul li {
  list-style-type: disc;
  color: #666;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 8px;
}

.privacy__wrap small {
  display: block;
  text-align: right;
}
