.l-fixed-button
  .l-fixed-button__inner
    .l-fixed-button__inner__topper
      .l-fixed-button__inner__topper__inner
        .l-fixed-button__inner__topper__inner__menu
          span.l-fixed-button__inner__topper__inner__menu__line
          span.l-fixed-button__inner__topper__inner__menu__line
        p.l-fixed-button__inner__topper__inner__text menu

    .l-fixed-button__inner__main
      .l-fixed-button__inner__main__button
        p.l-fixed-button__inner__main__button__text したい・ほしいを<strong>探す</strong>
        .l-fixed-button__inner__main__button__icon
          span.icon-search2
            span.path1
            span.path2
            span.path3
      .l-fixed-button__inner__main__button
        p.l-fixed-button__inner__main__button__text したい・ほしいを<strong>叶える</strong>
        .l-fixed-button__inner__main__button__icon
          span.icon-star2
            span.path1
            span.path2