ul.t-rankingArea__tab
  li.t-rankingArea__tab__list.tab-month.is-active
    p.t-rankingArea__tab__list__text 月間
  li.t-rankingArea__tab__list.tab-weekly
    p.t-rankingArea__tab__list__text 週間
  li.t-rankingArea__tab__list.tab-all
    p.t-rankingArea__tab__list__text すべて
.t-rankingArea__slider
  .t-rankingArea__slider__arrow.js__arrow-top__ranking__month.is-active
    .slick-next
      span.icon-arrow2
        span.path1
        span.path2
        span.path3
    .slick-prev
      span.icon-arrow2
        span.path1
        span.path2
        span.path3
  .t-rankingArea__slider__arrow.js__arrow-top__ranking__weekly
    .slick-next
      span.icon-arrow2
        span.path1
        span.path2
        span.path3
    .slick-prev
      span.icon-arrow2
        span.path1
        span.path2
        span.path3
  .t-rankingArea__slider__arrow.js__arrow-top__ranking__all
    .slick-next
      span.icon-arrow2
        span.path1
        span.path2
        span.path3
    .slick-prev
      span.icon-arrow2
        span.path1
        span.path2
        span.path3
  ul.t-rankingArea__slider__inner.js-slickSlider-top__ranking__month.is-active
    include ../_molecules/squareCard
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image3.jpg', 
      ranking:1,
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image4.jpg', 
      ranking:2,
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image5.jpg', 
      ranking:3,
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image1.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image2.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
  ul.t-rankingArea__slider__inner.js-slickSlider-top__ranking__weekly
    include ../_molecules/squareCard
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image2.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image4.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image1.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image3.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image5.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
  ul.t-rankingArea__slider__inner.js-slickSlider-top__ranking__all
    include ../_molecules/squareCard
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image5.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image1.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image2.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image3.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
    +m-squareCard({ 
      list:true, 
      url:'/assets/img/dammy/dammy-image4.jpg', 
      sign: "特集", 
      title:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？", 
      description:"実は毎年開催されるごとに参加人数を増やしている鳩レース。実は毎年開催されるごとに参加人数を増やしている鳩レース。",
      tag:[{ title: "マイナースポーツ" }, { title: "変わった趣味"}, { title: "20代から始める"}],
    })
