@import "../../_utils/_variables";
@import "../../_utils/_mixins";


.l-head {
	padding: 80px 0;
	@include screen-medium() {
		padding: 80px 0 40px;
	}
}






.l-service {
	display: flex;
	align-items: flex-start;
	max-width: 1400px;
	width: 100%;
	padding-right: 180px;
	figure {
		width: 45%;
		height: 400px;
		margin-right: 100px;
		background-size: cover;
		background-position: center center;
		position: relative;
		&::after {
			content: "";
			display: block;
			width: 200px;
			height: 160px;
			background: $primary-color;
			position: absolute;
			top: 18%;
			left: 100%;
			z-index: -1;
		}
	}
	@include screen-medium() {
		display: block;
		max-width: 100%;
		padding-right: 0;
		padding-top: 30px;
		figure {
			width: 100%;
			height: auto;
			padding-bottom: 68.1%;
			&::after {
				top: -35px;
				left: 10px;
			}
			&::before {
				content: "Total Produce";
				font-family: 'Antro Vectra bolder';
				font-size: 3.2rem;
				position: absolute;
				top: -17px;
				right: 20px;
			}
		}
	}
}
.service__wrap {
	flex: 1;
	width: 50%;
	padding-top: 80px;
	position: relative;
	b {
		content: "Total Produce";
		@include fontFamily(antro);
		font-size: 5.5rem;
		position: absolute;
		top: 0;
		right: 0;
		&::before {
			content: "";
			display: inline-block;
			width: 100px;
			height: 1px;
			background: #333;
		}
	}
	h1 {
		@include fontFamily(serif);
		font-size: 3.6rem;
		font-weight: bold;
		line-height: 1.4;
		margin-bottom: 40px;
		letter-spacing: 8px;
	}
	p {
		@include lineHeight(2.2);
		& + p {
			margin-top: 30px;
		}
	}
	@include screen-medium() {
		padding: 30px;
		b {
			display: none;
		}
		h1 {
			font-size: 2.6rem;
		}
		p {
			font-size: $font-s;
		}
	}
}







//
// オフィスラボの特徴
//
.l-feature {
	margin-top: 40px;
	h2 {
		font-size: 3.6rem;
		font-weight: bold;
		margin-bottom: 50px;
		@include fontFamily(serif);
		letter-spacing: 5px;
		span {
			display: block;
			font-size: $font-m;
			margin-bottom: 16px;
			@include fontFamily(vol);
			letter-spacing: 2px;
		}
	}
	@include screen-medium() {
		padding: 30px;
		h2 {
			font-size: 2.6rem;
			text-align: center;
		}
	}
}

.feature__sec {
	display: flex;
	> div {
		flex: 1;
		h3 {
			font-size: 2.2rem;
			font-weight: bold;
			line-height: 1.4;
			margin-bottom: 40px;
			@include fontFamily(serif);
			@include lineHeight(1.6);
			letter-spacing: 3px;
		}
	}
	p {
		@include lineHeight(2);
		& + p {
			margin-top: 30px;
		}
	}
	@include screen-medium() {
		display: block;
		h3 {
			font-size: 1.6rem!important;
			padding-left: 0;
		}
		p {
			font-size: $font-s;
		}
	}
	// セクション1
	&.-sec1 {
		figure {
			width: 50%;
			margin-right: 60px;
			background-size: cover;
			background-position: center center;
			position: relative;
			&::before {
				content: "";
				display: block;
				width: 50%;
				height: 90%;
				background: $color-gray1;
				position: absolute;
				top: -35%;
				left: -80px;
				z-index: -1;
			}
		}
		div {
			padding-bottom: 60px;
			position: relative;
			&::before {
				content: "01";
				@include fontFamily(vol);
				font-weight: bold;
				position: absolute;
				top: -80px;
				left: -100px;
				color: $color-gray1;
				font-size: 200px;
				z-index: -1;
				letter-spacing: -10px;
				opacity: .7;
			}
		}
		@include screen-medium() {
			figure {
				width: 100%;
				padding-bottom: 50%;
				margin-bottom: 30px;
				margin-right: 0;
				&::before {
					top: 70%;
					left: -30px;
				}
			}
			div {
				padding-bottom: 0;
				&::before {
					display: none;
					top: 5px;
					left: 0;
					font-size: 1.6rem;
					color: #333;
					letter-spacing: 0;
				}
			}
		}
	}
	// セクション2
	&.-sec2 {
		flex-direction: row-reverse;
		margin-top: 40px;
		figure {
			width: 280px;
			background-size: cover;
			margin-left: 100px;
			position: relative;
			background-size: cover;
			background-position: center center;
			&::before {
				content: "";
				display: block;
				width: 90%;
				height: 90%;
				background: $primary-color;
				position: absolute;
				bottom: 28%;
				left: 35%;
				z-index: -1;
			}
		}
		div {
			padding-top: 80px;
			position: relative;
			padding-left: 40px;
			&::before {
				content: "02";
				@include fontFamily(vol);
				font-weight: bold;
				position: absolute;
				top: 0px;
				left: 20%;
				color: $color-gray1;
				opacity: .7;
				font-size: 200px;
				z-index: -1;
				letter-spacing: -10px;
			}
		}
		@include screen-medium() {
			figure {
				width: 100%;
				padding-bottom: 50%;
				margin-bottom: 30px;
				margin-left: 0;
				&::before {
					width: 50%;
					top: 50%;
					right: -30px;
					left: auto;
				}
			}
			div {
				padding: 0;
				&::before {
					display: none;
					top: 5px;
					left: 0;
					font-size: 1.6rem;
					color: #333;
					letter-spacing: 0;
				}
			}
		}
	}
	// セクション3
	&.-sec3 {
		margin-top: 100px;
		figure {
			width: 40%;
			margin-right: 60px;
			background-size: cover;
			position: relative;
			background-position: center center;
			&::before {
				content: "";
				display: block;
				width: 50%;
				height: 90%;
				background: $color-gray1;
				position: absolute;
				top: -35%;
				left: -80px;
				z-index: -1;
			}
		}
		div {
			padding: 20px 0 40px;
			position: relative;
			&::before {
				content: "03";
				@include fontFamily(vol);
				font-weight: bold;
				opacity: .7;
				position: absolute;
				top: -80px;
				left: 45%;
				color: #f6f6f6;
				font-size: 200px;
				z-index: -1;
				letter-spacing: -10px;
			}
		}
		@include screen-medium() {
			margin-top: 40px;
			figure {
				width: 100%;
				padding-bottom: 50%;
				margin-bottom: 30px;
				margin-right: 0;
				&::before {
					top: 70%;
					left: -30px;
				}
			}
			div {
				padding: 0;
				&::before {
					display: none;
					top: 5px;
					left: 0;
					font-size: 1.6rem;
					color: #333;
					letter-spacing: 0;
				}
			}
		}
	}
}






//
// サービス内容
//
.l-ourservices {
	margin-top: 120px;
	.m-ttl {
		margin-bottom: 80px;
	}
	@include screen-medium() {
		margin-top: 40px;
		padding: 0 30px;
		.m-ttl {
			margin-bottom: 40px;
		}
	}
}
.ourservices__item {
	display: flex;
	&:nth-of-type(n + 2) {
		margin-top: 50px;
	}
	figure {
		width: 200px;
		height: 200px;
		margin-right: 30px;
		background-size: cover;
		background-position: center center;
	}
	div {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	h3 {
		font-size: 1.8rem;
		//@include fontFamily(serif);
		font-weight: bold;
		margin-bottom: 16px;
	}
	@include screen-medium() {
		display: block;
		figure {
			width: 90px;
			height: 90px;
		}
		.item__wrap {
			margin-top: -90px;
		}
		h3 {
			font-size: $font-m;
			min-height: 90px;
			display: flex;
			padding-left: 100px;
			align-items: center;
		}
		div {
			p {
				font-size: $font-s;
			}
		}
		&:nth-of-type(n + 2) {
			border-top: #eee solid 1px;
			margin-top: 30px;
			padding-top: 30px;
		}
	}
}




.l-hugelink {
	border-top: #eee solid 1px;
	margin-top: 100px;
	@include screen-medium() {
		margin-top: 60px;
	}
}




