// #1 トップページ
// -----------------------------------
@import "../..//_utils/_variables";
@import "../../_utils/_mixins";

.p-contact__topper {
  @include screen-large{
    margin-top:70px;
  }
  .o-topperSection {
    padding:40px 20px;
  }
}


.p-contact__main {
  padding:0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  margin-top:60px;
  .p-contact__main__input {

    .m-inputArea {
      margin-top:30px;

      @include screen-large {
        margin-top: 60px;
      }
    }

    .m-selectboxArea {
      margin-top:30px;

      @include screen-large {
        margin-top: 60px;
      }
    }

    .m-textareaArea {
      margin-top:30px;

      @include screen-large {
        margin-top: 60px;
      }
    }

    .p-contact__main__input__radiobutton {
      margin-top:30px;
      display: flex;
      flex-direction: column;

      @include screen-large {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 60px;
      }

      .p-contact__main__input__radiobutton__topper {
        display: flex;
        align-items: center;

        @include screen-large {
          width: 30%;
          min-width: 300px;
          align-items: flex-start;
        }

        .p-contact__main__input__radiobutton__topper__required {
          background-color: $bg-4-color;
          color: $bg-6-color;
          border-radius: 4px;
          padding:5px;
          margin-right:8px;
          font-size: $font-xxs;
          font-weight: $font-bold;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 100%;
          white-space: nowrap;
        }

        .p-contact__main__input__radiobutton__topper__title {
          font-size: $font-s;
          font-weight: $font-bold;
          line-height: 100%;
        }
      }

      .p-contact__main__input__radiobutton__under {
        margin-top:8px;
        width: 100%;
        padding-left:10px;
        position: relative;
        display: flex;
        span + span {
					margin-left: 20px;
        }
        @include screen-large {
          margin:0;
        }
        label {
	        input {
		        display: none;
		        &:checked + .mwform-radio-field-text {
			        &::after {
				        background: $bg-1-color;
			        }
		        }
	        }
	        .mwform-radio-field-text {
		        display: flex;
		        align-items: center;
		        position: relative;
		        cursor: pointer;
		        font-size: 1.4rem;
						font-weight: 700;
		        &::before {
			        content: "";
			        display: block;
			        width: 16px;
			        height: 16px;
			        border: #ccc solid 1px;
			        border-radius: 100%;
			        margin-right: 4px;
		        }
		        &::after {
			        content: "";
			        width: 10px;
			        height: 10px;
			        background: transparent;
			        border-radius: 100%;
			        position: absolute;
			        top: 50%;
			        left: 3px;
			        transform: translateY(-50%);
		        }
	        }
        }
      }
    }

    .p-contact__main__input__email {
      display: none;
      &.is-active {
        display: block;
      }
    }
    .p-contact__main__input__tel {
      display: none;
      &.is-active {
        display: block;
      }
    }
  }

  .p-contact__main__checkbox {
    margin-top:30px;
    display: flex;
    flex-direction: column;

    @include screen-large {
      margin-top:120px;
    }

    .p-contact__main__checkbox__topper {
      display: flex;
      align-items: flex-start;

      .p-contact__main__checkbox__topper__required {
        background-color: $bg-4-color;
        color: $bg-6-color;
        border-radius: 4px;
        padding:5px;
        margin-right:8px;
        font-size: $font-xxs;
        font-weight: $font-bold;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 100%;
        white-space: nowrap;
      }

      input[type=checkbox]:checked + .p-contact__main__checkbox__topper__icon {

        .icon-check {

          .path2 {

            &::before {
              color:rgb(238, 238, 238);
              transition: 0.2s;
            }
          }

          .path3{

            &::before {
              color:rgb(223, 43, 40);
              transition: 0.2s;
            }
          }
        }
      }

      .icon-check {
        margin-left: 5px;
        font-size: 21px;

        .path2,.path3{

          &::before {
            color:transparent;
          }
        }
      }

      .p-contact__main__checkbox__topper__title {
        margin-left: 5px;
        font-size: $font-s;
        font-weight: $font-bold;
        line-height: 180%;
        a {
          color:$font-2-color;
          border-bottom: solid 1px $font-2-color;
          margin-right:5px;
        }
      }
    }

    .p-contact__main__checkbox__validation {
      margin-top:3px;
      width: 100%;
      padding-left:10px;

      @include screen-large {
        padding:0;
      }

      .p-contact__main__checkbox__validation__text {
        padding:5px 10px;
        border-radius: 1px;
        background-color: $bg-14-color;
        color:$bg-4-color;
        font-size: $font-xs;
        font-weight: $font-bold;
        line-height: 150%;

        br {
          @include screen-large {
            display: none;
          }
        }
      }
    }
  }

  .m-wideButton {
    //margin-top:30px;
  }
}

.p-contact__main__btns {
	margin-top: 50px;
	display: flex;
	.m-wideButton {
		& + .m-wideButton {
			margin-left: 20px;
		}
	}
}






.p-contact__footer {
  margin-top:0px;
  width: 100%;
  overflow:hidden;

  .m-breadcrumb {
    margin-top:50px;
    padding:15px;
    background-color: $bg-3-color;
  }
}








//確認画面
.mw_wp_form_confirm {
	.m-selectboxArea__under__icon,
	.p-contact__main__checkbox {
		display: none!important;
	}
}




