.o-classificationList {
  display: flex;
  flex-wrap: wrap;
  margin:10px 0 0 -7px;

  .o-classificationList__tag {
    margin:10px 0 0 7px;
    background-color:$bg-6-color;
    border-radius: 25px;

    &:hover {

      @include screen-large {
        background-color:$bg-1-color;
        transition: 0.2s;
      }
    }

    .o-classificationList__tag__link {
      display: block;
      height: 100%;
      width: 100%;
      padding:6px 16px;

      .o-classificationList__tag__link__inner {
        line-height: 100%;
        font-size: $font-xs;
        margin:0;

        &::before {
          content:"#";
        }
      }  
    }
  }
}