.o-headerInnerPc {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1000px;

  .m-logo {
    width: 120px;
    display:flex;
    justify-content:center;
    align-items: center; 

    .m-logo__image{
      width: 100%;
    }
  }

  .o-headerInnerPc__left {
    display: flex;
    width: calc(100% - 120px);
    max-width: 700px;
    justify-content: space-between;


    .o-headerInnerPc__left__category {
      display: flex;
      align-items: center;
      margin-left: 10px;

      .o-headerInnerPc__left__category__list {
        display: flex;
        align-items: center;

        &::after {
          content:"";
          border-left:$border-5;
          height: 28px;
          transform: rotate(15deg);
          margin-right:15px;
        }

        &:nth-last-child(1) {

          .o-headerInnerPc__left__category__list__link  {
            margin-right:0;
          }

          &::after {
            content:"";
            display: none;
          }  
        }

        .o-headerInnerPc__left__category__list__link {
          display: block;
          height: 100%;
          margin-right:15px;

          .o-headerInnerPc__left__category__list__link__text {
            margin-top:5px;
            font-size: $font-xs;
            font-weight: $font-bold;
            line-height: 100%;
          }

          .o-headerInnerPc__left__category__list__link__icon {
            height: 26px;
            display: flex;
            align-items: flex-end;

            &.icon-feature {
              font-size: 26px;
            }
      
            &.icon-hobby {
              font-size: 25px;
            }
      
            &.icon-life {
              font-size: 20px;
            }
      
            &.icon-learn {
              font-size: 22px;
            }  
          }
        }
      }
    }

    .o-headerInnerPc__left__button {
      display: flex;
      justify-content: space-between;
      margin-left: 10px;

      .o-headerInnerPc__left__button__list {
        display: flex;
        border: $border-4;
        border-radius: 4px;
        width: 48%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;

        .o-headerInnerPc__left__button__list__text {
          height: 100%;
          padding:4px 10px;
          white-space: nowrap;
          font-size: $font-xs;
          font-weight: $font-bold;
          line-height: 150%;

          strong {
            font-size: $font-m;
            line-height: 150%;
          }
        }

        .o-headerInnerPc__left__button__list__icon {
          background-color: $bg-1-color;
          height: 100%;
          padding:4px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: $border-4;

          .icon-search2 {

            .path1:before {
              content: "\e908";
              color: $bg-6-color;
            }

            .path2:before {
              content: "\e909";
              color: #000;
              margin-left: -1em;
            }

            .path3:before {
              content: "\e90b";
              color: #000;
              margin-left: -1em;
            }  
          } 

          .icon-star2 {

            .path1:before {
              content: "\e923";
              color: $bg-6-color;
            }

            .path2:before {
              content: "\e924";
              color: #262626;
              margin-left: -1em;
            }  
          }
        }
      }
    }

    .o-headerInnerPc__left__icon {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: 10px;

      @include screen-large {
        align-items: flex-end;
      }

      .o-headerInnerPc__left__icon__list {
        margin-left: 20px;
        font-size: 16px;

        @include screen-large {
          margin-left:15px;
        }

        &:nth-child(1) {
          margin-left: 0px;
          font-size: 16px;
        }
      }
    }  
  }
}