.o-headerInner {
  display:flex;
  justify-content: space-between;
  height: 100%;

  @include screen-large {
    display: none;
  }

  .m-logo {
    width: 150px;
    display:flex;
    justify-content:center;
    align-items: center; 

    .m-logo__image{
      width: 100%;
    }
  }

  .o-headerInner__left {
    max-width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .o-headerInner__left__list {
      margin-left: 17px;
      height: 17px;
      width: 17px;

      //アカウント凍結解除まで非表示
      &.instagram {
        display: none;
      }
      //ここまで

      img {
        height: 100%;
      }  
    }
  }
}