.o-topperSection {
  padding:40px 20px;
  background-color: $bg-1-color;
  
  .o-topperSection__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .o-topperSection__main__title {
      display: flex;
      align-items: center;

      .o-topperSection__main__title__icon {
        height: 40px;
        object-fit: cover;

        &.life {
          height: 35px;
          margin-bottom: 5px;
        }

        &.learn {
          height: 35px;
        }

        &.contact {
          height: 24px;
        }
      }

      .o-topperSection__main__title__text {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .o-topperSection__main__title__text__main {
          font-size: 22px;
          font-weight: $font-bold;
          white-space: nowrap;
        }

        .o-topperSection__main__title__text__sub {
          margin-top:6px;
          font-family: 'Josefin Sans', sans-serif;
          font-size:$font-xs;
          font-weight: $font-bold;
          white-space: nowrap;
          line-height: 100%;
        }
      }
    }

    .o-topperSection__main__description {
      margin-top:10px;
      font-size:14px;
      font-weight: $font-medium;
      line-height: 150%;
      text-align: center;
    }
  }
}


