.o-verticallyCardList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .m-verticallyCard {
    width: 48%;
    margin-top:20px;

    @include screen-large {
      width: 47%;
      margin-top:50px;
    }
  }
}