.o-wideCardList {
  width: 100%;

  @include screen-large {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .m-wideCard {
    margin-top:20px;
    width: 100%;


    @include screen-large {
      margin-top:50px;
      width: 47%;
  
      &:nth-of-type(-n+2) {
        margin-top:0px;
      }  
    }
  }

}