.o-wideCardList {
  width: 100%;

  @include screen-large {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .m-wideCard {
      width: 47%;

      @include screen-large {
        margin-top:50px;

        &:nth-of-type(-n+2) {
          margin-top:0px;
        }  
      }
    }
  }
}