/*
$font-xs: 1rem;
$font-s: 1.2rem;
$font-m: 1.4rem;
$font-l: 1.6rem;
$font-xl: 1.8rem;
$font-xxl: 2rem;
*/
.l-head {
  padding: 80px 0;
}

.l-thanks {
  border-top: #e0e0e0 solid 1px;
  padding-top: 80px;
  text-align: center;
}

.l-thanks h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.l-thanks p {
  line-height: 2.2;
}

.l-thanks .m-btn {
  margin-top: 60px;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .l-thanks {
    padding: 60px 12px;
  }
  .l-thanks h2 {
    font-size: 1.6rem;
  }
  .l-thanks p {
    font-size: 1.4rem;
    line-height: 1.8;
    text-align: left;
  }
  .l-thanks p br {
    display: none;
  }
}
