footer.l-footer
	.l-footer__keyword
		.l-footer__keyword__header
			.l-footer__keyword__header__subtitle Keywords
			.l-footer__keyword__header__tilte 人気のワード
		ul.l-footer__keyword__classification
			li.l-footer__keyword__classification__tag
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner TRIP
			li.l-footer__keyword__classification__tag
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner MOVIE
			li.l-footer__keyword__classification__tag
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner WORK
			li.l-footer__keyword__classification__tag
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner ART
			li.l-footer__keyword__classification__tag 
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner TRIP
			li.l-footer__keyword__classification__tag
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner MOVIE
			li.l-footer__keyword__classification__tag
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner WORK
			li.l-footer__keyword__classification__tag
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner ART
			li.l-footer__keyword__classification__tag 
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner TRIP
			li.l-footer__keyword__classification__tag
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner MOVIE
			li.l-footer__keyword__classification__tag
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner WORK
			li.l-footer__keyword__classification__tag
				a.l-footer__keyword__classification__tag__link
					p.l-footer__keyword__classification__tag__link__inner ART


	.l-footer__downlord
		.l-footer__downlord__inner
			img(src="/assets/img/common/footer/download.png", alt="").l-footer__downlord__inner__image
			.l-footer__downlord__inner__main
				.l-footer__downlord__inner__main__link
					button.l-footer__downlord__inner__main__link__AppStore
						a(href="https://apps.apple.com/jp/app/finbee-%E3%82%A2%E3%83%97%E3%83%AA%E3%81%A7%E8%B2%AF%E9%87%91-%E6%A5%BD%E3%81%97%E3%81%8F%E3%81%8A%E9%87%91%E3%82%92%E8%B2%AF%E3%82%81%E3%82%8B%E8%B2%AF%E9%87%91%E3%82%A2%E3%83%97%E3%83%AA/id1182852315?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2016-12-26&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;")
					button.l-footer__downlord__inner__main__link__GooglePlay
						a(href='https://play.google.com/store/apps/details?id=jp.co.nestegg.finbee&hl=ja&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1')
							img(alt='Google Play で手に入れよう' src='https://play.google.com/intl/ja/badges/images/generic/ja_badge_web_generic.png' width="155")

	.l-footer__support
		.l-footer__support__inner
			.l-footer__support__inner__header
				.l-footer__support__inner__header__subtitle contents support
				.l-footer__support__inner__header__tilte コンテンツサポート募集
			.l-footer__support__inner__center
				.l-footer__support__inner__center__checkbox.color-dark
					.l-footer__support__inner__center__checkbox__inner
						.l-footer__support__inner__center__checkbox__inner__left
							span.icon-check
								span.path1
								span.path2
								span.path3
						p.l-footer__support__inner__center__checkbox__inner__right マイナーな趣味/スポーツを<br>やっている人
				.l-footer__support__inner__center__checkbox.color-light
					.l-footer__support__inner__center__checkbox__inner
						.l-footer__support__inner__center__checkbox__inner__left
							span.icon-check
								span.path1
								span.path2
								span.path3
						p.l-footer__support__inner__center__checkbox__inner__right マイナーな趣味/スポーツを<br>やっている人
				.l-footer__support__inner__center__checkbox.color-dark
					.l-footer__support__inner__center__checkbox__inner
						.l-footer__support__inner__center__checkbox__inner__left
							span.icon-check
								span.path1
								span.path2
								span.path3
						p.l-footer__support__inner__center__checkbox__inner__right マイナーな趣味/スポーツを<br>やっている人
			.l-footer__support__inner__footer be-topia のコンテンツに<br>参加してみたい方は以下フォームより、<br>お問い合わせください。
			a(href="").l-footer__support__inner__button
				span.icon-btn
				p.l-footer__support__inner__button__text お問い合わせ

	.l-footer__about
		.l-footer__about__header
			.l-footer__about__header__subhead What is
			.l-footer__about__header__title be<strong>-</strong>topia?
			.l-footer__about__header__subtitle ビートピアについて
		.l-footer__about__main ダミー「be（なる）」+「topia（場所）」ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダbe-topia は、”何者かに”なる場所でありたいという願いを込めて、ダミーダミーダミーダミー。
		.l-footer__about__footer
			a(href="").icon-instagram
			a(href="").icon-twitter
			a(href="").icon-facebook
				span.path1
				span.path2

	.l-footer__search
		.l-footer__search__inner
			ul.l-footer__search__inner__category
				li.l-footer__search__inner__category__list 
					a(href="").l-footer__search__inner__category__list__text 特集
				li.l-footer__search__inner__category__list
					a(href="").l-footer__search__inner__category__list__text 趣味
				li.l-footer__search__inner__category__list
					a(href="").l-footer__search__inner__category__list__text 生活
				li.l-footer__search__inner__category__list
					a(href="").l-footer__search__inner__category__list__text 学び
			.l-footer__search__inner__button
				a(href="").l-footer__search__inner__button__search 
					p.l-footer__search__inner__button__search__text したい・ほしいを<br><strong>さがす</strong>
				a(href="").l-footer__search__inner__button__search
					p.l-footer__search__inner__button__search__text したい・ほしいを<br><strong>叶える</strong>
			.l-footer__search__inner__footer
				a(href="").l-footer__search__inner__footer__link
					span.icon-btn
					p.l-footer__search__inner__footer__link__text 自動貯金サービス「finbee」
					span.icon-tab

	.l-footer__nav
		ul.l-footer__nav__inner
			li.l-footer__nav__inner__list
				a.l-footer__nav__inner__list__link
					p.l-footer__nav__inner__list__link__text 会社概要
					span.icon-tab
			li.l-footer__nav__inner__list
				a.l-footer__nav__inner__list__link
					p.l-footer__nav__inner__list__link__text 利用規約
			li.l-footer__nav__inner__list
				a.l-footer__nav__inner__list__link
					p.l-footer__nav__inner__list__link__text プライバシーポリシー
			li.l-footer__nav__inner__list
				a.l-footer__nav__inner__list__link
					p.l-footer__nav__inner__list__link__text お問い合わせ

	.l-footer__copy ©︎2019 NeseEgg,Inc.