footer.footer
	.inner.-m
		.footer__pager
			.breadcrumb
				ol
					li
						a(href="")
					li
						a(href="") テキストテキストテキスト
					li
						a(href="") テキストテキストテキスト
			a.pagetop(href="#")
		.footer__nav
			div
				dl
					dt
						a(href="") サービス
					dd
						ul
							li: a(href="") 移転先ビル選定
							li: a(href="") 内装でデザイン
							li: a(href="") レイアウト設計
							li: a(href="") 移転費用算出
							li: a(href="") オフィス工事・施工監理
							li: a(href="") 移転スケジュール監理
							li: a(href="") 引越し・移転手続き
							li: a(href="") 原状回復工事
			div
				dl
					dt
						a(href="") 施工事例
					dd
						ul
							li: a(href="") エントランス
							li: a(href="") 会議室
							li: a(href="") ワークスペース
							li: a(href="") フリースペース
							li: a(href="") 床
							li: a(href="") 壁
							li: a(href="") サイン
				dl
					dt
						a(href="") お客様の声
			div
				dl
					dt
						a(href="") コラム
					dd
						ul
							li: a(href="") コラムカテゴリ1
							li: a(href="") コラムカテゴリ2
							li: a(href="") コラムカテゴリ3
				dl
					dt
						a(href="") ニュース
					dd
						ul
							li: a(href="") ニュースカテゴリ1
							li: a(href="") ニュースカテゴリ2
							li: a(href="") ニュースカテゴリ3
			div
				dl
					dt
						a(href="") 採用情報
					dd
						ul
							li: a(href="") キャリア採用
							li: a(href="") 新卒採用
							li: a(href="") 採用エントリー
			div
				dl
					dt
						a(href="") 企業情報
					dd
						ul
							li: a(href="") 代表者挨拶
							li: a(href="") プライバシーポリシー
				dl
					dt
						a(href="") お問い合わせ
					dd
						ul
							li: a(href="") お仕事の依頼
							li: a(href="") 取材・アポイントメント
							li: a(href="") 協力パートナー応募
							li: a(href="") 一括見積もり


		.footer__logo
			figure
				a(href="/")
			p
				| オフィス、店舗の移転・レイアウト変更なら
				br
				| オフィス・ラボにお任せください
		.footer__contact
			a(href="tel:0362819950").tel.-isSP 03-6281-9950
			span.tel.-isPC 03-6281-9950
			a.m-btn.-black(href="") CONTACT

	small.footer__copy 2018 Office Laboratory Inc.
