header.header
	.inner.-m
		.header__logo
			a(href="") Office Lab

		.header__btn.-isSP
			div
				div
					span
					span
					span
		.header__nav
			ul
				li: a(href="") PROJECT
				li: a(href="") SERVICE
				li: a(href="") COLUMN
				li: a(href="") NEWS
				li: a(href="") RECRUIT
				li: a(href="") CONPAMY
				li: a(href="") CONTACT
