header.header
	.inner.-m
		.header__logo
			a(href="") Office Lab

		.header__btn.-isSP
			div
				div
					span
					span
					span
		.header__nav
			ul
				li
					a(href="") #[span PROJECT]施工事例
				li
					a(href="") #[span SERVICE]サービス
				li
					a(href="") #[span COLUMN]コラム
				li
					a(href="") #[span NEWS]ニュース
				li
					a(href="") #[span RECRUIT]採用情報
				li
					a(href="") #[span COMPANY]企業情報
				li
					a(href="") #[span CONTACT]お問い合わせ
