meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
title= siteTitle
include ./_ogp
include ./_favicon
link(rel="stylesheet", href= assetsPath + "assets/css/common.css")
link(rel="stylesheet", href= assetsPath + "assets/css/" + pageKey + ".css")
//link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
link(rel="stylesheet" href=assetsPath + "assets/fonts/icomoon/style.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")