.l-spMenu(id="js-spMenu")
  include ./_header
  .l-spMenu__main
    ul.l-spMenu__main__nav
      li.l-spMenu__main__nav__list
        a(href="").l-spMenu__main__nav__list__link
          .l-spMenu__main__nav__list__link__left
            span.icon-home.l-spMenu__main__nav__list__link__left__icon
              span.path1
              span.path2
            p.l-spMenu__main__nav__list__link__left__text TOP
          .icon-btn
      li.l-spMenu__main__nav__list
        a(href="").l-spMenu__main__nav__list__link
          .l-spMenu__main__nav__list__link__left
            span.icon-feature.l-spMenu__main__nav__list__link__left__icon
              span.path1
              span.path2
              span.path3
            p.l-spMenu__main__nav__list__link__left__text 特集
          .icon-btn
      li.l-spMenu__main__nav__list
        a(href="").l-spMenu__main__nav__list__link
          .l-spMenu__main__nav__list__link__left
            span.icon-hobby.l-spMenu__main__nav__list__link__left__icon
              span.path1
              span.path2
              span.path3
              span.path4
              span.path5
            p.l-spMenu__main__nav__list__link__left__text 趣味
          .icon-btn
      li.l-spMenu__main__nav__list
        a(href="").l-spMenu__main__nav__list__link
          .l-spMenu__main__nav__list__link__left
            span.icon-life.l-spMenu__main__nav__list__link__left__icon
              span.path1
              span.path2
            p.l-spMenu__main__nav__list__link__left__text 生活
          .icon-btn
      li.l-spMenu__main__nav__list
        a(href="").l-spMenu__main__nav__list__link
          .l-spMenu__main__nav__list__link__left
            span.icon-learn.l-spMenu__main__nav__list__link__left__icon
              span.path1
              span.path2
              span.path3
            p.l-spMenu__main__nav__list__link__left__text 学び
          .icon-btn
    .l-spMenu__main__search
      input(type="text" placeholder="気になるワードを入力してください。").l-spMenu__main__search__input
      .icon-search