.l-spMenu(id="js-spMenu")
  include ./_header
  .l-spMenu__main
    ul.l-spMenu__main__nav
      li.l-spMenu__main__nav__list
        a(href="").l-spMenu__main__nav__list__link
          .l-spMenu__main__nav__list__link__left
            span.icon-home.l-spMenu__main__nav__list__link__left__icon
              span.path1
              span.path2
            p.l-spMenu__main__nav__list__link__left__text TOP
          .icon-btn
      li.l-spMenu__main__nav__list
        a(href="").l-spMenu__main__nav__list__link
          .l-spMenu__main__nav__list__link__left
            span.icon-feature.l-spMenu__main__nav__list__link__left__icon
              span.path1
              span.path2
              span.path3
            p.l-spMenu__main__nav__list__link__left__text 特集
          .icon-btn
      li.l-spMenu__main__nav__list
        a(href="").l-spMenu__main__nav__list__link
          .l-spMenu__main__nav__list__link__left
            span.icon-hobby.l-spMenu__main__nav__list__link__left__icon
              span.path1
              span.path2
              span.path3
              span.path4
              span.path5
            p.l-spMenu__main__nav__list__link__left__text 趣味
          .icon-btn
      li.l-spMenu__main__nav__list
        a(href="").l-spMenu__main__nav__list__link
          .l-spMenu__main__nav__list__link__left
            span.icon-life.l-spMenu__main__nav__list__link__left__icon
              span.path1
              span.path2
            p.l-spMenu__main__nav__list__link__left__text 生活
          .icon-btn
      li.l-spMenu__main__nav__list
        a(href="").l-spMenu__main__nav__list__link
          .l-spMenu__main__nav__list__link__left
            span.icon-learn.l-spMenu__main__nav__list__link__left__icon
              span.path1
              span.path2
              span.path3
            p.l-spMenu__main__nav__list__link__left__text 学び
          .icon-btn
    .l-spMenu__main__searcharea
      span.icon-close.js-spMenu__close
      include ../_components/_molecules/inputSearch
    .l-spMenu__main__pickup
      p.l-spMenu__main__pickup__title Pickup
      include ../_components/_organisms/verticallyCardList
      +o-verticallyCardList([
        { url:"/assets/img/dammy/dammy-image4.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"日帰り旅行ツウな人の遊び方", link:"" }, { title:"日帰り旅行ツウな人の遊び方", link:"" }, { title:"日帰り旅行ツウな人の遊び方", link:""}] },
        { url:"/assets/img/dammy/dammy-image5.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
        { url:"/assets/img/dammy/dammy-image1.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
        { url:"/assets/img/dammy/dammy-image2.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
      ])
    .l-spMenu__main__keywords
      .l-spMenu__main__keywords__title Keywords
      include ../_components/_organisms/classificationList
      +o-classificationList(["マイナースポーツ", "変わった趣味", "IKEA", "レアな仕事", "ツウな人の遊び方", "ディープな旅", "マイルの貯め方", "キャンプ", "マイナースポーツ", "変わった趣味", "IKEA", "レアな仕事", "ツウな人の遊び方", "ディープな旅", "マイルの貯め方", "キャンプ",])
