//-
//- 404ページ
//-
extends ../../_include/_layout
block vars
	- var pageTitle = "thanks"
	- var assetsPath = "../"
	- var pageKey = "contact/thanks"
	- var scriptFlag = false



block contents
	.l-head
		h1.m-ttl CONTACT#[span お問い合わせ]

	//-
	//- 記事一覧
	//-
	section.l-thanks.inner.-m
		h2 お問い合わせありがとうございました。
		p
			| この度は、お問い合わせいただきまして誠に有難うございます。
			br
			| 内容を確認したのち、1週間以内にご連絡いたしますので、
			br
			| しばらくお待ちください。よろしくお願いいたします。
		a.m-btn(href="/") トップに戻る





