//-
//- お問い合わせ
//-
extends ../../_include/_layout
block vars
	- var pageTitle = "お問い合わせ"
	- var assetsPath = "../"
	- var pageKey = "contact/thanks"
	- var scriptFlag = true

block contents
	section.p-contactThanks__main
		.p-contactThanks__main__topper
			span.icon-check2
				span.path1
				span.path2
				span.path3
			p.p-contactThanks__main__topper__title お問い合わせ
			p.p-contactThanks__main__topper__title ありがとうございました
			p.p-contactThanks__main__topper__subtitle Thanks!
			p.p-contactThanks__main__topper__description ◯日以内に、担当者よりご連絡をさせていただきます。今しばらくお待ちくださいますよう、よろしくお願い申し上げます。
		a(href="").p-contactThanks__main__link
			span.icon-btn
			p.p-contactThanks__main__link__text TOPへ戻る

	section.p-contactThanks__footer
		include ../../_components/_molecules/breadcrumb
		+m-breadcrumb([{ url:"", text: "お問い合わせ" }])
