//-
//- トップページ
//-
extends ../../_include/_layout
block vars
	- var pageTitle = "記事詳細"
	- var assetsPath = "../"
	- var pageKey = "article/post"
	- var scriptFlag = true

block contents
	section.p-articlePost__main
		.p-articlePost__main__content
			.p-articlePost__main__content__column

				article.article
					header.article__header
						h1 マイナースポーツを広めたい！フレスコボール日本代表選手・斎藤亮太さんにインタビュー		
						.article__header__sub
							p 特集
							time 2019.08.14
						img(src="/assets/img/dammy/dammy-image1.jpg", alt="").thumbnail

						.article__body__table
							.article__body__table__title
								img(src="/assets/img/common/table.svg", alt="").article__body__table__title__icon
								.article__body__table__title__text 目次
							ul.article__body__table__list
								li.article__body__table__list__link
									a(href="").article__body__table__list__link__inner
										span.icon-head
										p.article__body__table__list__link__inner__text フレスコボールとは？
								li.article__body__table__list__link
									a(href="").article__body__table__list__link__inner
										span.icon-head
										p.article__body__table__list__link__inner__text コートもネットもいらない、気軽にやれるところが魅力
								li.article__body__table__list__link
									a(href="").article__body__table__list__link__inner
										span.icon-head
										p.article__body__table__list__link__inner__text 斎藤亮太さんプロフィール
								li.article__body__table__list__link
									a(href="").article__body__table__list__link__inner
										span.icon-head
										p.article__body__table__list__link__inner__text 主にかかる費用

					section.article__body
						h2
							.s1 フレスコボールとは？
						p ダミー本文が入ります。フレスコボールとは、ブラジル・リオデジャネイロ発祥のラケットスポーツです。
						p 1945年にリオデジャネイロで考案されて以来、世界各地のビーチで楽しまれています。日本では2013年に日本フレスコボール協会が設立されました。（<a href="">日本フレスコボール協会HP</a>） 				
						p 見た目はテニスに似ていますが、フレスコボールは意外にもペア競技！ペアでボールを落とさずラリーを続け、ラリー回数や、テクニックを披露し、採点が行われます。
						p プロともなるとそのラリーのスピードに圧倒されるほど！ぜひYouTubeで見てみてください！
						<iframe width="560" height="315" src="https://www.youtube.com/embed/kU8yTuvbmq8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						h2
							.s1 コートもネットもいらない、気軽にやれるところが魅力
						p ダミー本文が入ります。フレスコボールとは、ブラジル・リオデジャネイロ発祥のラケットスポーツです。
						p 1945年にリオデジャネイロで考案されて以来、世界各地のビーチで楽しまれています。
						|<br>日本では2013年に日本フレスコボール協会が設立されました。（日本フレスコボール協会HP     ） 				
						p 見た目はテニスに似ていますが、フレスコボールは意外にもペア競技！ペアでボールを落とさずラリーを続け、ラリー回数や、テクニックを披露し、採点が行われます。
						p プロともなるとそのラリーのスピードに圧倒されるほど！ぜひYouTubeで見てみてください！

						h2
							.s1 斎藤涼太さんプロフィール
						img(src="/assets/img/dammy/dammy-image3.jpg", alt="")
						p <strong>ダミー本文が入ります。大学在学中に、本場ブラジルチャンピオンとフレスコボール初体験。</strong>

						h3 数字なしリスト
						ul
							li
								p ジャパンオープン2016 準優勝
							li
								p ミウラカップ 2017 優勝
							li
								p オダイバカップ2017 優勝
							li
								p サクラカップ2018 優勝
							li
								p ミウラカップ2018 準優勝
							li
								p ジャパンオープン2018 優勝
							li
								p タチヒカップ2019 優勝

						h3 数字ありリスト
						ol
							li
								p ジャパンオープン2016 準優勝
							li
								p ミウラカップ 2017 優勝
							li
								p オダイバカップ2017 優勝
							li
								p サクラカップ2018 優勝
							li
								p ミウラカップ2018 準優勝
							li
								p ジャパンオープン2018 優勝
							li
								p タチヒカップ2019 優勝

						h2 
							.s1 主にかかる費用
						table
							tbody
								tr
									td ラケット
									td 3,000円（税抜）/本
								tr
									td ボール
									td 1,500円（税抜）/3本セット
								tr
									td 合計
									td 4,500円（税抜）
						
						h2
							.s1 インタビュー
						.article__interview
							.article__interview__human
								img(src="/assets/img/dammy/dammy-image1.jpg", alt="").article__interview__human__image
								.article__interview__human__name 斎藤選手
							.article__interview__callout
								span.icon-callout
								p.article__interview__callout__text 会話形式のインタビュー記事が入ります。会話形式のインタビュー記事が入ります。会話形式のインタビュー記事が入ります。会話形式のインタビュー記事が入ります。会話形式のインタビュー記

						.article__interview
							.article__interview__human
								img(src="/assets/img/dammy/dammy-human2.jpg", alt="").article__interview__human__image
								.article__interview__human__name 斎藤選手
							.article__interview__callout
								span.icon-callout
								p.article__interview__callout__text 会話形式のインタビュー記事が入ります。会話形式のインタビュー記事が入ります。会話形式のインタビュー記事が入ります。会話形式のインタビュー記事が入ります。会話形式のインタビュー記

						.article__interview
							.article__interview__human
								img(src="/assets/img/dammy/dammy-human1.jpg", alt="").article__interview__human__image
								.article__interview__human__name 斎藤選手
							.article__interview__callout
								span.icon-callout
								p.article__interview__callout__text 会話形式のインタビュー記事が入ります。会話形式のインタビュー記事が入ります。会話形式のインタビュー記事が入ります。会話形式のインタビュー記事が入ります。会話形式のインタビュー記

						h2
							.s1 引用テキストのデザイン
						blockquote
							p 引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。
								|引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。（出典:<a href="">wikipedia</a>)





					footer.article__footer



	section.p-articlePost__footer
		include ../../_components/_molecules/titleBorder
		+m-titleBorder({ title:"人気記事", subtitle:"Ranking" })
		include ../../_components/_templates/rankingArea
		include ../../_components/_molecules/breadcrumb
		+m-breadcrumb([{ url:"", text: "特集" }])
