//-
//- トップページ
//-
extends ../../_include/_layout
block vars
	- var pageTitle = "検索結果ページ"
	- var assetsPath = "../"
	- var pageKey = "article/search"
	- var scriptFlag = true

block contents
	section.p-articleSearch__topper
		include ../../_components/_molecules/inputSearch


	section.p-articleSearch__main
		.p-articleSearch__main__column
			.p-.p-articleSearch__main__column__result
				.p-.p-articleSearch__main__column__result__category
					p.p-.p-articleSearch__main__column__result__category__text <strong>#マイナースポーツ</strong>の検索結果
				.p-.p-articleSearch__main__column__result__number
					p.p-.p-articleSearch__main__column__result__number__text 40件中 1-18件を表示

			include ../../_components/_organisms/verticallyCardList
			+o-verticallyCardList([
				{ url:"/assets/img/dammy/dammy-image4.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"日帰り旅行ツウな人の遊び方", link:"" }, { title:"日帰り旅行ツウな人の遊び方", link:"" }, { title:"日帰り旅行ツウな人の遊び方", link:""}] },
				{ url:"/assets/img/dammy/dammy-image5.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
				{ url:"/assets/img/dammy/dammy-image1.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
				{ url:"/assets/img/dammy/dammy-image2.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
				{ url:"/assets/img/dammy/dammy-image4.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"日帰り旅行ツウな人の遊び方", link:"" }, { title:"日帰り旅行ツウな人の遊び方", link:"" }, { title:"日帰り旅行ツウな人の遊び方", link:""}] },
				{ url:"/assets/img/dammy/dammy-image5.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
				{ url:"/assets/img/dammy/dammy-image1.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
				{ url:"/assets/img/dammy/dammy-image2.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
			])
			.p-articleSearch__main__column__pagenation
				include ../../_components/_molecules/pagenation
		.p-articleSearch__main__sidebar
			include ../../_components/_templates/sideBarPc

	section.p-articleSearch__footer
		include ../../_components/_molecules/titleBorder
		+m-titleBorder({ title:"人気記事", subtitle:"Ranking" })
		include ../../_components/_templates/rankingArea
		include ../../_components/_molecules/breadcrumb
		+m-breadcrumb([{ url:"", text: "特集" }])
