// #1 トップページ
// -----------------------------------
@import "../_utils/_variables";
@import "../_utils/_mixins";


//
// KV
//
.l-kv {
	margin-top: 20px;
	height: calc(100vh - 140px); // ← 100vh - (header + margin)
	min-height: 660px;
	position: relative;
	overflow: hidden;

	&::before {
		// 左側グレー背景
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 281px;
		height: calc(100% - 100px);
		background: $color-gray1;
	}


	.kv__left {
		position: absolute;
		width: 480px;
		z-index: 1;
		height: 100%;
		left: 130px;
		h1 {
			@include fontFamily(serif);
			font-weight: 900;
			font-size: 5.5rem;
			line-height: 1.58;
			letter-spacing: 11px;
			z-index: 1;
			margin-top: 180px;
			span {
				@include fontFamily(vol);
				display: block;
				font-size: 1.6rem;
				letter-spacing: 3px;
			}
		}
	}


	.kv__slider {
		position: absolute;
		top: 0;
		left: 482px;
		width: calc(100% - 480px);
		height: calc(100% - 120px);
		overflow: hidden;
		&_list {
			height: 100%;
			opacity: 0;
			transition: all 1.5s ease;
			&.slick-initialized {
				opacity: 1;
			}
		}
		&_item {
			transition: all 2s ease;
			background-size: cover;
			background-position: center center;
			height: 700px;
			//heightはjsで取った方が良さそう
		}
		&_dots {
			position: relative;
			width: 130px;
			height: 30px;
			margin-top: 25px;
			margin-left: -3px;
			.slick-dots {
				position: absolute;
				top: 0;
				height: auto;
				bottom: auto;
				text-align: left;
				width: 150px;
				li {
					margin-right: 7px;
					width: 12px;
					button {
						width: 10px;
						height: 10px;
						padding: 0;
						&:hover {
							&::before {
								background: #000;
								opacity: .25;
							}
						}
						&::before {
							content: "";
							display: block;
							width: 10px;
							height: 10px;
							font-family: none;
							background: #000;
						}
					}
				}
			}
		}
	}

	.kv__scroll {
		position: absolute;
		bottom: 80px;
		a {
			display: inline-block;
			span {
				display: block;
				width: 24px;
				height: 40px;
				border: #333 solid 2px;
				border-radius: 40px;
				&::before {
					content: "";
					display: block;
					width: 6px;
					height: 6px;
					background-color: #333;
					border-radius: 100%;
					animation: sdb 5s infinite;
					position: relative;
					top: 7px;
					left: 50%;
					margin-left: -3px;
				}
			}
		}
		@keyframes sdb {
		  0% {
		    transform: translate(0, 0);
		    opacity: 0;
		  }
		  20% {
		    opacity: 1;
		  }
		  60% {
		    transform: translate(0, 20px);
		    opacity: 0;
		  }
		  80% {
		    opacity: 0;
		  }
		  100% {
		    opacity: 0;
		  }
		}
	}



	@include screen-medium() {
		margin-top: 50px;
		margin-bottom: 20px;
	}
}




//
// POLICY
//
.l-policy {
	margin-top: 130px;
	padding-top: 30px;
	padding-bottom: 130px;
	> .inner {
		position: relative;
		min-height: 550px;
	}
	h2 {
		writing-mode: vertical-rl;
		position: absolute;
		top: 0;
		left: 60px;

		span {
			&.en {
				@include fontFamily(vol);
				font-size: 1.8rem;
				font-weight: bold;
				letter-spacing: 3px;
				&::after {
					content: "";
					display: inline-block;
					height: 35px;
					width: 2px;
					background: #333;
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
			&.jp {
				@include fontFamily(serif);
				font-weight: 700;
				font-size: 3.4rem;
				letter-spacing: 9px;
			}
		}
	}
	.policy {
		&__wrap {
			display: flex;
		}
		&__fig {
			width: 60%;
			&::before {
				content: "";
				display: block;
				width: 380px;
				height: 180px;
				background: $primary-color;
				position: absolute;
				top: calc(100% - 50px);
				left: 0;
			}
			> figure {
				margin-left: 130px;
				height: 100%;
				position: relative;
				@include adjustBg();
			}
		}
		&__text {
			width: 40%;
			padding-left: 80px;
			padding-top: 70px;
			position: relative;
			h3 {
				@include fontFamily(serif);
				@include lineHeight(1.8);
				font-weight: 700;
				font-size: 3rem;
				letter-spacing: 10px;
				span {
					font-size: 130%;
					margin-right: 5px;
				}
			}
			h4 {
				position: absolute;
				top: -50px;
				left: -90px;
				@include fontFamily(antro);
				font-size: 10rem;
				transform: rotate(-4deg);
			}
			p {
				margin-top: 40px;
				@include lineHeight(2.2);
			}
			.m-btn {
				margin: 40px 0 0;
			}
		}
	}


	@include screen-medium() {
		min-width: 100%;
		padding-top: 0;
		margin-top: 50px;
		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 170px;
			background: #eee;
			position: absolute;
			top: 16px;
			z-index: -1;
		}
		h2 {
			position: relative;
			top: 0;
			left: 0;
			transform: rotate(0);
			font-size: 2.8rem;
			padding-left: 12px;
			height: auto;
			span {
				transform: rotate(0);
				writing-mode: horizontal-tb;
				position: relative;
				top: 0;
				left: 0;
				margin-top: 10px;
				font-size: $font-s;
			}
		}
	}
}


/*
.message__text {
	width: 55%;
	padding: 100px 25px 30px;
	position: relative;
	h3 {
		font-family: fot-tsukuardgothic-std, sans-serif;
		font-size: 2.8rem;
		letter-spacing: 3px;
		line-height: 1.4;
		font-weight: bold;
		margin-bottom: 30px;
		span {
			font-size: 3.6rem;
			letter-spacing: 4px;
			margin-right: 4px;
		}
	}
	h4 {
		position: absolute;
		top: -30px;
		left: -100px;
		font-family: 'Antro Vectra bolder';
		font-size: 10rem;
	}
	p {
		font-weight: bold;
		line-height: 2.3;
		& + p {
			margin-top: 16px;
		}
	}
	.m-btn {
		margin: 30px 0 0;
		padding: 16px 70px;
		width: auto;
		display: inline-block;
	}
	&::after {
		content: "";
		display: block;
		width: 280px;
		height: 200px;
		background: $base-color-yellow;
		position: absolute;
		top: -100px;
		right: -100px;
		z-index: -1;
	}
	@include screen-medium() {
		width: 100%;
		padding: 0 30px;
		margin-top: 40px;
		h3 {
			font-size: $font-l;
			margin-bottom: 24px;
			span {
				letter-spacing: 0;
				font-size: 2.8rem;
			}
		}
		h4 {
			display: none;
		}
		p {
			font-size: $font-s;
			br {
				display: none;
			}
		}
		.m-btn {
			margin-top: 20px;
			width: 100%;
		}
		&::after {
			content: none;
		}
	}
}
*/

/*
.message__fig {
	width: 50%;
	padding-right: 40px;
	figure {
		width: 70%;
		float: right;
		height: 100%;
		position: relative;
		background-position: 30% center;
		background-size: cover;
		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: -90px;
			left: -70px;
			background: $base-color-blue;
			width: 80%;
			height: 180px;
			z-index: -1;
		}
	}
	@include screen-medium() {
		width: 80%;
		padding-right: 0;
		figure {
			width: 100%;
			padding-bottom: 61.8%;
			float: none;
			&::before {
				height: 80px;
				bottom: -20px;
			}
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 120px;
				background: $base-color-yellow;
				position: absolute;
				top: 20px;
				right: -22%;
				z-index: -1;
			}
		}
	}
}
*/
/*
.message__wrap {
	display: flex;
	@include screen-medium() {
		display: block;
		position: relative;
		margin-top: 40px;
		&::before {
			content: "Who we are";
			font-family: 'Antro Vectra bolder';
			font-size: 4rem;
			position: absolute;
			z-index: 1;
			right: 10px;
			top: -30px;
			transform: rotate(-8deg);
		}
	}
}
*/



















//
// SERVICE
//
.l-service {
	margin-top: 170px;
	position: relative;
	h2 {
		writing-mode: vertical-rl;
		margin-right: 20px;
		span {
			&.en {
				@include fontFamily(vol);
				font-size: 1.8rem;
				font-weight: bold;
				letter-spacing: 3px;
				&::after {
					content: "";
					display: inline-block;
					height: 35px;
					width: 2px;
					background: #333;
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
			&.jp {
				@include fontFamily(serif);
				font-weight: 700;
				font-size: 3.4rem;
				letter-spacing: 9px;
			}
		}
	}
}
.service {
	&__wrap {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	&__bg {
		position: absolute;
		left: 0;
		width: calc( (100% - ((100% - 1200px) / 2)) - 100px );
		height: 560px;
		background-image: url(../img/home/img_service.jpg);
		@include adjustBg();
	}
	&__text {
		background: #fff;
		width: 470px;
		margin-top: 380px;
		padding: 60px 50px;
		position: relative;
		h3 {
			position: absolute;
			top: -50px;
			left: -40px;
			@include fontFamily(antro);
			font-size: 10rem;
			transform: rotate(-6deg);
			letter-spacing: -2px;
		}
		p {
			@include lineHeight(2.2);
		}
		.m-btn {
			margin-top: 40px;
			margin-left: 0;
		}
	}
}





/*
.l-service {
	margin-bottom: 180px;
	position: relative;
	padding-top: 100px;
	margin-top: 90px;
	h2 {
		font-family: 'Avenir Next';
		font-size: 5rem;
		font-weight: bold;
		letter-spacing: 7px;
		display: block;
		position: absolute;
		top: 90px;
		right: 0;
		transform: rotate(90deg);
		pointer-events: none;
		height: 190px;

		span {
			display: block;
			letter-spacing: 2px;
			font-size: 1.6rem;
			margin-top: 20px;
			transform: rotate(-90deg);
			writing-mode: vertical-rl;
			position: relative;
			top: -40px;
			left: 100px;
		}
	}
	h3 {
		position: absolute;
		top: 580px;
		right: 7%;
		z-index: 1;
		pointer-events: none;
		font-family: 'Antro Vectra bolder';
		font-size: 8.5rem;
		transform: rotate(-10deg);
		pointer-events: none;
		&::after {
			content: ".";
			opacity: 0;
		}


	}
	@include screen-medium() {
		padding-top: 0;
		margin-top: 50px;
		margin-bottom: 0;
		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 200px;
			background: #eee;
			position: absolute;
			top: 16px;
			z-index: -1;
		}
		h2 {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			transform: rotate(0);
			font-size: 2.8rem;
			padding-left: 12px;
			height: auto;
			span {
				transform: rotate(0);
				writing-mode: horizontal-tb;
				top: 0;
				left: 0;
				margin-top: 10px;
				font-size: $font-s;
			}
		}
		h3 {
			display: none;
		}
	}
}

.service__wrap {
	position: relative;
	&::after {
		content: "";
		display: block;
		height: 130px;
		background: $base-color-yellow;
		position: absolute;
		top: 40px;
		width: 98%;
		z-index: -1;
	}
	@include screen-medium() {
		&::before {
			display: block;
			content: "What we do";
			font-family: 'Antro Vectra bolder';
			position: absolute;
			top: -25px;
			right: 10px;
			z-index: 1;
			font-size: 3.6rem;
			transform: rotate(-8deg);
			width: 100%;
			text-align: right;
			pointer-events: none;

		}
	}
}

.service__slider {
	position: relative;
	width: 80%;
	figure {
		padding-bottom: 460px;
		background-size: cover;
		background-position: center center;
	}
	@include screen-medium() {
		width: 100%;
		margin-top: 40px;
		figure {
			padding-bottom: 68.1%;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: -30px;
				right: 0;
				width: 48%;
				height: 60px;
				background: $base-color-yellow;
				z-index: -1;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: -16px;
				right: 0;
				width: 100%;
				height: 60px;
				background: $base-color-yellow;
				z-index: -1;
			}
		}
	}
}

.service__text {
	display: inline-block;
	width: 480px;
	padding: 70px 40px;
	position: relative;
	left: 8%;
	margin-top: -100px;
	background: #fff;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
	&::after {
		content: "";
		display: block;
		background: $base-color-blue;
		width: 70%;
		height: 100%;
		position: absolute;
		bottom: -30px;
		right: -30px;
		z-index: -1;
	}
	p {
		font-weight: bold;
		line-height: 2;
		text-align: justify;
		//font-size: $font-l;
	}
	.m-btn {
		margin: 30px 0 0;
		padding: 16px 70px;
		width: auto;
		display: inline-block;
	}
	@include screen-medium() {
		width: calc(100% - 24px);
		left: 12px;
		margin: -40px auto 0;
		padding: 24px;
		box-shadow: none;
		p {
			font-size: $font-s;
		}
		.m-btn {
			width: 100%;
		}
		&::after {
			content: none;
		}
	}

}
*/


//
// PROJECT
//
.l-project {
	position: relative;
	margin-top: 100px;
	&::before {
		content: "";
		display: block;
		background: $color-gray1;
		width: 100%;
		height: 500px;
		position: absolute;
		top: 70px;
		left: 0;
		z-index: 0;
		pointer-events: none;
	}
	.m-btn {
		margin-top: 30px;
	}
	@include screen-medium() {
		.inner {
			padding: 0 12px;
		}
		margin-top: 40px;
		&::before {
			height: 240px;
			top: 16px;
		}
	}
}
.project__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 120px;
	@include screen-medium() {
		display: block;
	}
}
.project__item {
	margin-bottom: 60px;
	position: relative;
	&:nth-of-type(1) {
		width: 100%;
		&::before {
			content: "Latest";
			display: block;
			@include fontFamily(antro);
			font-size: 9rem;
			position: absolute;
			z-index: 1;
			pointer-events: none;
			transform: rotate(-16deg);
			top: -20px;
			left: -100px;
		}
		.item__wrap {
			transform: skewY(-2.5deg);
			height: 97%;
			position: relative;
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				opacity: .7;
				width: 100%;
				height: 90%;
				background: $base-color-yellow;
				z-index: -1;
				transition: all .3s ease;
			}
		}
		.item__ttl {
			margin-top: -15px;
			@include screen-medium() {
				margin-top: 0;
			}
		}
	}
	&:nth-of-type(n + 2) {
		width: 46%;
		.item__wrap {
			transform: skewY(-2.5deg);
			height: 92%;
			position: relative;
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				opacity: .7;
				width: 100%;
				height: 90%;
				background: $base-color-yellow;
				z-index: -1;
				transition: all .3s ease;
			}
		}
	}
	.item__figwrap {
		height: 90%!important;
		overflow: hidden;
	}
	figure {
		background-size: cover;
		background-position: center center;
		padding-bottom: 68.1%;
		transform: skewY(2.5deg);
		position: relative;
		top: -30px;
	}
	.item__ttl {
		font-size: 1.8rem;
		font-weight: bold;
		letter-spacing: 1px;
	}
	&:hover {
		.item__wrap {
			&::after {
				top: 10px;
				left: 10px;
			}
		}
	}
	@include screen-medium() {
		width: 100%!important;
		margin-bottom: 30px;
		&::before {
			font-size: 4rem!important;
			left: 5px!important;
			top: -30px!important;
		}
		.item__wrap {
			transform: skew(0)!important;
			height: 100%!important;
			&::after {
				content: none!important;
			}
		}
		figure {
			transform: skew(0)!important;
		}
		.item__ttl {
			font-size: $font-s;
			margin-top: -10px!important;
		}
	}
}


.l-pickup {
	margin-top: 140px;
	position: relative;
	&::before {
		content: "";
		display: block;
		background: $primary-color;
		width: 100%;
		height: 230px;
		position: absolute;
		top: 70px;
		left: 0;
		pointer-events: none;
	}
	@include screen-medium() {
		margin-top: 70px;
		&::before {
			top: 16px;
			height: 180px;
		}
	}
}
.pickup__list {
	overflow: hidden;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 40px;
	.slick-dots {
		position: absolute;
		bottom: 0;
	}
}
.pickup__item {
	a {
		display: block;
		padding: 40px;
	}
	figure {
		padding-bottom: 61.8%;
		background-size: cover;
		background-position: center center;
		margin-bottom: 20px;
		position: relative;
		transition: all .3s ease;
	}
	figcaption {
		position: absolute;
		font-family: 'Avenir Next';
		letter-spacing: 1px;
		bottom: 10px;
		left: -16px;
		display: inline-block;
		background: $base-color-yellow;
		color: #333;
		padding: 6px 26px;
		font-weight: bold;
		font-size: 1rem;
	}
	.item__ttl {
		font-weight: bold;
		line-height: 1.4;
		text-align: justify;
	}
	&:nth-of-type(2) {
		transform: scale(1.25);
		.item__ttl {
			transform: scale(0.81);
		}
	}

	&:nth-of-type(2) {
		//border: green solid 3px;
	}

	&.slick-active {
		//border: red solid 1px;
		&:nth-of-type(2) {
			//border: blue solid 2px!important;
		}
	}



	@include screen-medium() {
		a {
			padding: 20px;
		}
		figcaption {
			left: -8px;
		}
		.item__ttl {
			font-size: $font-s;
		}
		&:nth-of-type(2) {
			transform: scale(1);
			.item__ttl {
				transform: scale(1);
			}
		}
		&.slick-current,
		&.slick-center {
			figure {
				transform: scale(1.16);
			}
		}

	}
}




//
// ARTICLE
//
.l-article {
	margin-top: 100px;
	position: relative;
	&::before {
		content: "";
		display: block;
		background: $color-gray1;
		width: 100%;
		height: 230px;
		position: absolute;
		top: 70px;
		left: 0;
		pointer-events: none;
	}
	.article__btns {
		display: flex;
		justify-content: center;
		margin-top: 40px;
		.m-btn {
			margin: 0 10px;
		}
	}
	@include screen-medium() {
		margin-top: 70px;
		&::before {
			top: 16px;
			height: 180px;
		}
		.article__btns {
			display: block;
			padding: 0 12px;
			margin-top: 40px;
			.m-btn {
				margin: 8px 0 0;
			}
		}
	}
}
.article__list {
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 30px;
	.slick-dots {
		position: absolute;
		bottom: 0;
	}
}
.article__item {
	a {
		display: block;
		padding: 40px;
		position: relative;
	}
	figure {
		padding-bottom: 61.8%;
		background-size: cover;
		background-position: center center;
		margin-bottom: 20px;
		position: relative;
		transition: all .3s ease;
	}
	figcaption {
		position: absolute;
		font-family: 'Avenir Next';
		letter-spacing: 1px;
		bottom: 10px;
		left: -16px;
		display: inline-block;
		background: $base-color-yellow;
		color: #fff;
		padding: 6px 26px;
		font-weight: bold;
		font-size: 1rem;
		&.-news {
			background: #f4544d;
		}
		&.-column {
			background: #ff8f02;
		}
	}

	time {
		position: absolute;
		top: 30px;
		left: 15px;
		transform: rotate(90deg);
		transform-origin: bottom left;
		font-size: 1.2rem;
		font-weight: bold;
	}
	.item__ttl {
		font-weight: bold;
		line-height: 1.4;
		text-align: justify;
	}
	@include screen-medium() {
		a {
			padding: 20px;
		}
		figcaption {
			left: -8px;
		}
		time {
			position: relative;
			transform: rotate(0);
			top: 0;
			left: 0;
		}
		.item__ttl {
			font-size: $font-s;
		}
		&:nth-of-type(2) {
			transform: scale(1);
			.item__ttl {
				transform: scale(1);
			}
		}
		&.slick-current,
		&.slick-center {
			figure {
				transform: scale(1.16);
			}
		}
	}
}



//
// pickup,articleのslick
.l-article, .l-pickup {
	.inner {
		position: relative;
	}
	.js-slickSlider--article--arrows,
	.js-slickSlider--pickup--arrows {
		position: absolute;
		bottom: 55%;
		width: 100%;
		padding: 0 30px;
		display: flex;
		justify-content: space-between;
		pointer-events: none;
		font-size: 2rem;
		.slicknext, .slickprev {
			font-size: 2rem;
			pointer-events: all;
			background: #aaa;
			width: 40px;
			height: 40px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2rem;
			color: #fff;
			font-weight: bold;
			&:before {
				font-family: 'icomoon';
			}
		}
		.slickprev:before {
			content: "\e90a";
		}
		.slicknext:before {
			content: "\e909";
		}
		@media screen and (min-width:768px) and ( max-width:970px) {
			bottom: auto;
			top: 30%;
			.slicknext, .slickprev {
				width: 30px;
				height: 30px;
				font-size: 1rem;
			}
		}
		@include screen-medium() {
			bottom: auto;
			top: 26%;
			padding: 0;
			.slicknext, .slickprev {
				width: 30px;
				height: 30px;
				font-size: 1rem;
			}
		}
	}
}











//
// VOICE
//
.l-voice {
	margin-top: 100px;
	position: relative;
	padding: 0 30px;

	display: none;


	&::before {
		content: "";
		display: block;
		background: #ebebeb;
		width: 100%;
		height: 270px;
		position: absolute;
		top: 30px;
		left: 0;
		z-index: -1;
		pointer-events: none;
	}
}
.voice__list {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.voice__item {
	width: 31%;
	a {
		display: block;
		transition: all .3s ease;
		&:hover {
			box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
		}
	}
	.item__figwrap {
		position: relative;
		figure {
			padding-bottom: 61.8%;
			background-size: cover;
			background-position: center center;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.3);
			}
		}
		.item__ttl {
			position: absolute;
			width: 70%;
			top: 50%;
			transform: translateY(-50%);
			left: 15%;
			color: #fff;
			font-weight: bold;
			text-align: center;
			line-height: 1.75;
			&::before {
				content: "“";
				position: absolute;
				left: 0;
				top: 30%;
				font-size: 3rem;
			}
			&::after {
				content: "”";
				position: absolute;
				right: 0;
				top: 30%;
			}
		}
	}
	.item__logo {
		text-align: center;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 160px;
			max-height: 40px;
		}
	}
}







//
// RECRUIT
//
.l-recruit {
	border-top: #ebebeb solid 1px;
	margin-top: 120px;
	position: relative;
	background-image: url(../img/home/bg_recruit.png);
	@include adjustBg();
	background-position: center top;
	background-color: #fff;

	.m-ttl {
		span {
			font-size: 4.4rem;
			&::before {
				background: #fff;
				margin: 20px auto;
			}
		}
	}



	//transition: all .3s ease;
/*
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../img/home/bg_recruit.jpg);
		background-size: cover;
		background-position: center center;

		opacity: .4;
	}
*/

	&:hover {
		a {
			&::after {
				transform: translateX(20px);
			}
		}
	}
	@include screen-medium() {
		margin-top: 60px;
	}

	a {
		display: block;
		padding: 80px 0;
		color: #fff;
		&::after {
			content: "→";
			display: block;
			text-align: center;
			margin-top: 30px;
			font-size: 3rem;
			transition: all .3s ease;
		}
	}
	p {
		text-align: center;
		margin-top: 30px;
		letter-spacing: 2px;
		line-height: 2.2;
	}
	@include screen-medium() {
		p {
			font-size: $font-s;
		}
	}
}


