@import "../../_utils/_variables";
@import "../../_utils/_mixins";


.l-head {
	padding: 80px 0;
	@include screen-medium() {
		padding: 80px 0 40px;
	}
}

.recruit__items{
	border-bottom:1px solid $border-color2;
}


//
// リクルートトップ
//
.recruit__top__imglist {
	margin-top: 24px;
	display: flex;
	justify-content: center;
	position: relative;
	@include screen-medium(){
		margin-top: 16px;
		overflow: hidden;
	}
}

.recruit__top {
	.m-ttl2 {
		margin-top: 80px;
	}
	@include screen-medium() {
		.m-ttl2 {
			text-align: left;
			font-size: $font-xl;
			padding: 0 40px;
			br {
				display: none;
			}
		}
	}
}



.recruit__top__img {
	width: 33.4%;
	min-width:150px;
	@include screen-medium(){
		margin-bottom: 32px;
	}
	img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding-bottom: 68%;
		width: 100%;
		@include hack-ie {
			height: 200px;
		}
	}
}

.recruit__top__joinus{
	position: absolute;
	right:22%;
	top:-15%;
	img{
		width:100%;
	}

	@include screen-medium(){
		display: none;
	}
}

.recruit__top__subsentence{
	font-size:$font-m;
	font-weight:bold;
	text-align: center;
	line-height:2;
	margin-top:40px;
	@include screen-medium(){
		text-align: left;
		padding: 0 20px;
		br{
			display: none;
		}
	}
}

//- リクルートリンク
.recruit__pagelinks{
	border-top:1px solid $border-color1;
	display: flex;
	justify-content: center;
	text-align:center;
	margin: 64px 0 0;

	background-color: #fff;



	@include screen-medium(){
		margin-top: 32px;
		display: block;
	}
}

.recruit__pagelink, .recruit__pagelink__mid{
	position: relative;
	padding: 0 80px;
	margin: 32px 0;
	transition: all .2s ease;

	@include screen-medium(){
		padding:0;
		width:100%;
	}

	:nth-child(1){
		font-size:$font-xs;
		font-weight:bold;
	}

	:nth-child(2){
		font-weight:bold;
		font-size:$font-xxl;
		margin-top:16px;
	}

	.arrow{

		//display: none!important;

		margin-top:16px;
		// ($direction, $size, $color, $thick)
		@include arrow($direction: bottom,$thick:2px);
		transition: all .2s ease;
	}
	a{
		@include aaa();
		@include z-index(anchor);
	}

	&:hover {
		opacity: .5;
		//color: $link-color-yellow;
		.arrow {
			//border-color: $link-color-yellow;
		}
	}
}

.recruit__pagelink{
	&:nth-of-type(n + 2) {
		&:after{
			@include pseudo($position:absolute,$height:50%);
			top:25%;
			left:0;
			border-left:1px solid $border-color1;
			@include screen-medium() {
				border: none;
			}
		}
	}
}


//- 新卒、キャリア採用
.recruit__pattern__ttl{
	border: 1px solid $border-color1;
	border-style:solid none;
	padding: 64px 0;
	text-align:center;
	font-weight:bold;
	font-size:2.4rem;
	background-color: #fff;
	@include screen-medium(){
		padding:24px 0;
		font-size:$font-xxl;
	}
}

.recruit__pattern{
	padding-bottom:96px;
	@include screen-medium(){
		padding-bottom:40px;
	}

	.table{
		margin:56px auto 32px;
		width:90%;
		@include screen-medium(){
			margin:0 auto 32px;
		}
	}

	.tr{
		padding-top:16px;
		@include screen-medium(){
			flex-direction: column;
			flex:0 0 100%;
		}
	}

	.th{
		font-weight:bold;
		text-align:left;
		max-width:160px;
		min-width:160px;
		font-size:$font-m;
		line-height: 2;
	}

	.td{
		font-size:$font-s;
		line-height: 2;
	}

	.spbr{
		display: none;
		@include screen-medium(){
			display: block;
		}
	}

	.m-btn {
		width:65%;
		border-radius:3px;
	}
}

