.l-header {
  height: 72px;
  padding:8px 20px 8px 16px;

  @include screen-large {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    background-color: $bg-6-color;
    border-bottom:$border-3;
  }

  &.is-active {
    border-bottom:$border-4;
  }

  .o-headerInner {

    @include screen-large {
      display: none;
    }  
  }

  .o-headerInnerPc {
    display: none;
    
    @include screen-large {
      display: flex;
    }  
  }
}