.l-header {
  height: 72px;
  padding:8px 20px 8px 16px;

  @include screen-large {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .o-headerInner {

    @include screen-large {
      display: none;
    }  
  }

  .o-headerInnerPc {
    display: none;
    
    @include screen-large {
      display: flex;
    }  
  }
}