.l-footer {
  margin-bottom:80px;

  .l-footer__copy {
    display: flex;
    justify-content: center;
    font-size: $font-xxs;
    font-weight: $font-bold;
    line-height: 150%;
    margin: 0;
  }
}