/*
$font-xs: 1rem;
$font-s: 1.2rem;
$font-m: 1.4rem;
$font-l: 1.6rem;
$font-xl: 1.8rem;
$font-xxl: 2rem;
*/
.l-head {
  padding: 80px 0;
}

@media (max-width: 767px) {
  .l-head {
    padding: 80px 0 40px;
  }
}

.l-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 1400px;
  width: 100%;
  padding-right: 180px;
}

.l-service figure {
  width: 45%;
  height: 400px;
  margin-right: 100px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.l-service figure::after {
  content: "";
  display: block;
  width: 200px;
  height: 160px;
  background: #FFF002;
  position: absolute;
  top: 18%;
  left: 100%;
  z-index: -1;
}

@media (max-width: 767px) {
  .l-service {
    display: block;
    max-width: 100%;
    padding-right: 0;
    padding-top: 30px;
  }
  .l-service figure {
    width: 100%;
    height: auto;
    padding-bottom: 68.1%;
  }
  .l-service figure::after {
    top: -35px;
    left: 10px;
  }
  .l-service figure::before {
    content: "Total Produce";
    font-family: 'Antro Vectra bolder';
    font-size: 3.2rem;
    position: absolute;
    top: -17px;
    right: 20px;
  }
}

.service__wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50%;
  padding-top: 80px;
  position: relative;
}

.service__wrap b {
  content: "Total Produce";
  font-family: 'Antro Vectra bolder';
  font-size: 5.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.service__wrap b::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background: #333;
}

.service__wrap h1 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 24px;
}

.service__wrap p + p {
  margin-top: 1.8rem;
}

@media (max-width: 767px) {
  .service__wrap {
    padding: 30px;
  }
  .service__wrap b {
    display: none;
  }
  .service__wrap h1 {
    font-size: 2.6rem;
  }
  .service__wrap p {
    font-size: 1.4rem;
  }
}

.l-feature {
  margin-top: 40px;
}

.l-feature h2 {
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.l-feature h2 span {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .l-feature {
    padding: 30px;
  }
  .l-feature h2 {
    font-size: 2.6rem;
    text-align: center;
  }
}

.feature__sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__sec > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature__sec > div h3 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
}

.feature__sec p + p {
  margin-top: 1.8rem;
}

@media (max-width: 767px) {
  .feature__sec {
    display: block;
  }
  .feature__sec h3 {
    font-size: 1.6rem !important;
    padding-left: 0;
  }
  .feature__sec p {
    font-size: 1.4rem;
  }
}

.feature__sec.-sec1 figure {
  width: 50%;
  margin-right: 60px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.feature__sec.-sec1 figure::before {
  content: "";
  display: block;
  width: 50%;
  height: 90%;
  background: #f6f6f6;
  position: absolute;
  top: -35%;
  left: -80px;
  z-index: -1;
}

.feature__sec.-sec1 div {
  padding-bottom: 60px;
  position: relative;
}

.feature__sec.-sec1 div::before {
  content: "01";
  font-family: 'Avenir Next';
  position: absolute;
  top: -80px;
  left: -100px;
  color: #f6f6f6;
  font-size: 200px;
  z-index: -1;
  letter-spacing: -10px;
}

@media (max-width: 767px) {
  .feature__sec.-sec1 figure {
    width: 100%;
    padding-bottom: 50%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .feature__sec.-sec1 figure::before {
    top: 70%;
    left: -30px;
  }
  .feature__sec.-sec1 div {
    padding-bottom: 0;
  }
  .feature__sec.-sec1 div::before {
    display: none;
    top: 5px;
    left: 0;
    font-size: 1.6rem;
    color: #333;
    letter-spacing: 0;
  }
}

.feature__sec.-sec2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 40px;
}

.feature__sec.-sec2 figure {
  width: 280px;
  background-size: cover;
  margin-left: 100px;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.feature__sec.-sec2 figure::before {
  content: "";
  display: block;
  width: 90%;
  height: 90%;
  background: #FFF002;
  position: absolute;
  bottom: 28%;
  left: 35%;
  z-index: -1;
}

.feature__sec.-sec2 div {
  padding-top: 80px;
  position: relative;
  padding-left: 40px;
}

.feature__sec.-sec2 div::before {
  content: "02";
  font-family: 'Avenir Next';
  position: absolute;
  top: 0px;
  left: 20%;
  color: #f6f6f6;
  font-size: 200px;
  z-index: -1;
  letter-spacing: -10px;
}

@media (max-width: 767px) {
  .feature__sec.-sec2 figure {
    width: 100%;
    padding-bottom: 50%;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .feature__sec.-sec2 figure::before {
    width: 50%;
    top: 50%;
    right: -30px;
    left: auto;
  }
  .feature__sec.-sec2 div {
    padding: 0;
  }
  .feature__sec.-sec2 div::before {
    display: none;
    top: 5px;
    left: 0;
    font-size: 1.6rem;
    color: #333;
    letter-spacing: 0;
  }
}

.feature__sec.-sec3 {
  margin-top: 100px;
}

.feature__sec.-sec3 figure {
  width: 40%;
  margin-right: 60px;
  background-size: cover;
  position: relative;
  background-position: center center;
}

.feature__sec.-sec3 figure::before {
  content: "";
  display: block;
  width: 50%;
  height: 90%;
  background: #f6f6f6;
  position: absolute;
  top: -35%;
  left: -80px;
  z-index: -1;
}

.feature__sec.-sec3 div {
  padding: 20px 0 40px;
  position: relative;
}

.feature__sec.-sec3 div::before {
  content: "03";
  font-family: 'Avenir Next';
  position: absolute;
  top: -80px;
  left: 45%;
  color: #f6f6f6;
  font-size: 200px;
  z-index: -1;
  letter-spacing: -10px;
}

@media (max-width: 767px) {
  .feature__sec.-sec3 {
    margin-top: 40px;
  }
  .feature__sec.-sec3 figure {
    width: 100%;
    padding-bottom: 50%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .feature__sec.-sec3 figure::before {
    top: 70%;
    left: -30px;
  }
  .feature__sec.-sec3 div {
    padding: 0;
  }
  .feature__sec.-sec3 div::before {
    display: none;
    top: 5px;
    left: 0;
    font-size: 1.6rem;
    color: #333;
    letter-spacing: 0;
  }
}

.l-ourservices {
  margin-top: 120px;
}

.l-ourservices .m-ttl {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .l-ourservices {
    margin-top: 40px;
    padding: 0 30px;
  }
  .l-ourservices .m-ttl {
    margin-bottom: 40px;
  }
}

.ourservices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ourservices__item:nth-of-type(n + 2) {
  margin-top: 50px;
}

.ourservices__item figure {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  background-size: cover;
  background-position: center center;
}

.ourservices__item div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ourservices__item h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .ourservices__item {
    display: block;
  }
  .ourservices__item figure {
    width: 90px;
    height: 90px;
  }
  .ourservices__item .item__wrap {
    margin-top: -90px;
  }
  .ourservices__item h3 {
    font-size: 1.6rem;
    min-height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ourservices__item div p {
    font-size: 1.4rem;
  }
  .ourservices__item:nth-of-type(n + 2) {
    border-top: #eee solid 1px;
    margin-top: 30px;
    padding-top: 30px;
  }
}

.l-hugelink {
  border-top: #eee solid 1px;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .l-hugelink {
    margin-top: 60px;
  }
}
