// #1 トップページ
// -----------------------------------
@import "../..//_utils/_variables";
@import "../../_utils/_mixins";

.p-disclaimer__topper {

  @include screen-large{
    margin-top:70px;
  }
}

.p-disclaimer__main {
  padding:30px 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;


  .p-disclaimer__main__title {
    margin-top:50px;
    font-size: $font-m;
    line-height: 170%;
    letter-spacing:1.6;
    font-weight: $font-bold;
    display: flex;
    align-items: center;

    &::before {
      content:"";
      display: block;
      height: 13px;
      width: 13px;
      background-color:$bg-1-color; 
      margin-right: 5px;
    }
  }

  .p-disclaimer__main__description {
    margin-top:10px;
    font-size: $font-s;
    line-height: 170%;
    letter-spacing:1.6;
    font-weight: $font-medium;
  }
}

.p-disclaimer__footer {
  margin-top:0px;
  width: 100%;
  overflow:hidden;

  .m-breadcrumb {
    margin-top:50px;
  }
}