@import "../_utils/_variables";


//会社概要部分
.c-companyinfo {
	overflow: hidden;
	padding-right: 20px;
	table {
		table-layout: fixed
	}
	th {
		text-align: right;
		padding-right: 50px;
		font-weight:bold;
		color:#BDBDBD;
		position: relative;
		top: 1px;
	}
	td {
		padding-bottom: 30px;
		width: 68%;
		font-size: $font-s;
	}
	ul {
		margin-bottom: -14px;
		li {
			margin-bottom: 14px;
		}
		&.-col2 {
			display: flex;
			flex-wrap: wrap;
			li {
				width: 50%;
			}
		}
	}
	a{
		color:$link-color;
		font-weight:bold;
		text-decoration: underline;
		&[target="_blank"] {
			&::after {
				content: "\e3e0";
				font-family: 'icomoon';
				font-weight: normal;
				margin-left: 1px;
			}
		}
	}
	.m-ttl2 {
		margin-bottom: 60px;
	}
	@include screen-medium() {
		padding: 0 16px;
		th {
			display: block;
			text-align: left;
			padding-bottom: 14px;
			font-size: $font-s;
		}
		td {
			display: block;
			width: 100%;
			font-size: $font-xs;
			padding-bottom: 30px;
			line-height: 1.6;
		}
		ul {
			margin-bottom: -6px;
			&.-col2 {
				display: block;
				li {
					width: 100%;
				}
			}
			li {
				margin-bottom: 6px;
			}
		}
		.m-ttl2 {
			text-align: center;
			margin-top: 40px;
			margin-bottom: 30px;
		}
	}
}
