@import "../_utils/_variables";
@import "../_utils/_mixins";

.c-hugelinks{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	position:relative;
	background-color:white;
	transition: all 0.3s linear;
	@include screen-medium(){
		flex-direction: column;
	}
	// background-image: url('../../assets/img/kv.png');
	// background-size:cover;
	// background-position: center center;

	&:hover{
		background-color: rgba(255, 255, 255, 0);
	}

	ul{
		width:33%;
		position: relative;
		padding:40px 0;
		transition: all 0.3s ease-out;
		&:hover{
			background-color: rgba(255, 255, 255, 0.8);
			border-radius:20px;
		}
		@include screen-medium(){
			width:100%;
			padding:16px 0;
		}

		&:nth-of-type(n + 2) {
			//border: red solid 1px;
			border-left: solid $border-color2 1px;
			@include screen-medium() {
				border-left: none;
				border-top: solid $border-color2 1px;
			}
		}




		&:nth-child(2){
			border:1px solid $border-color2;
			border-style: none solid;

			display: none;


			@include screen-medium(){
				border-style:solid none;
			}
		}

		:nth-child(1){
			font-size:3rem;
			font-weight:bold;
		}

		:nth-child(2){
			font-size:$font-s;
			font-weight:bold;
			margin-top:24px;
			@include screen-medium(){
				margin-top:8px;
			}
		}

		:nth-child(3){
			margin-top:24px;
			font-weight:bold;
			font-size:$font-s;
			@include screen-medium(){
				margin-top:8px;
			}
		}


		li:last-of-type {
			&::after {
				content: "\ea3c";
				font-family: 'icomoon';
				display: block;
				margin-top: 20px;
			}
		}



	}

	a{
		@include aaa();
		@include z-index(anchor);
	}
}


.background-something{
	width:100%;
	height:100%;
	background-color:$base-color-yellow;
	position:absolute;
	top:0;
	left:0;
	z-index:-9999;
}
