@import "../_utils/_mixins";

.c-linkbar{
	border-top:1px solid #E0E0E0;
	display: flex;
	// 画面遷移にアニメーションがいる場合
	// position: relative;
	color:#b1b1b1;
	a:not(.is-linkbar--active) {
		transition: all .2s ease;
		&:hover {
			color: $link-color-yellow;
		}
	}
	@include screen-medium() {
		font-size: $font-s;
	}
}



%linkbar{
	display: flex;
	justify-content: center;
	align-items: center;
	width:20%;
	min-width:144px;
	text-align:center;
	font-weight:bold;
	padding:24px 8px;
	position: relative;
}

.c-linkbar__companyinfo{
	@extend %linkbar;
	margin-left:auto;
	position: relative;


	&::after {
		content: "";
		width: 1px;
		height: 40%;
		background: #f2f2f2;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}


	//border: red solid 1px;

/*
	&:after{
		border-right:1px solid #F2F2F2;
		@include pseudo($position:absolute,$height:40%);

	}
*/
}
.c-linkbar__president{
	@extend %linkbar;
	margin-right:auto;
	position: relative;
}
.is-linkbar--active{
	color: #333333;
	pointer-events: none;

	// 画面遷移アニメーションがある場合不要
	&:before{
		@include pseudo($position:absolute,$width:64%);
		top:-1px;
		border-top:1px solid #333333;
	}
}

// 画面遷移にアニメーションがいる場合
// .c-linkbar__statebar{
// 	position: absolute;
// 	top:-1px;
// 	height:1px;
// 	width:1px;
// 	background-color:#333333;
// }
