//全ベージで汎用利用可能クラス
//————————————————————————————————————————
/*



.flex-wrap {
	display: flex;
}

.red {
	color: #D32F2F!important;
}
*/

.font-l {
	font-size: $font-l;
}

.font-xl {
	font-size: $font-xl;
}

