.wrap {
	overflow: hidden;
	background-image: url(../img/common/bg.gif);
	background-repeat: repeat;
	background-position: 80px center;
}


main {}

.container {}



.inner {
	margin: 0 auto;
	&.-s {
		max-width: 1030px;
		width: 100%;
		@include screen-medium() {
			max-width: 100%;
		}
	}
	&.-m {
		max-width: 1200px;
		width: 100%;

		//border: red solid 1px;
		//min-height: 200px;




		@include screen-medium() {
			max-width: 100%;
		}
	}
	&.-l {
		max-width: 1400px;
		width: 100%;
		@include screen-medium() {
			max-width: 100%;
		}
	}
}

.table{
	display: flex;
	flex-wrap: wrap;

	.tr{
		flex:0 0 100%;
		display: flex;
	}
}
