.m-pagenation
  .m-pagenation__arrow
    span.icon-arrow2.arrow-prev
      span.path1
      span.path2
      span.path3
    span.icon-arrow2.arrow-next
      span.path1
      span.path2
      span.path3
  ul.m-pagenation__list
    li.m-pagenation__list__link
      a.m-pagenation__list__link__text 1
    li.m-pagenation__list__link.is-active
      a.m-pagenation__list__link__text 2
    li.m-pagenation__list__link
      a.m-pagenation__list__link__text 3
    li.m-pagenation__list__link
      a.m-pagenation__list__link__text 4
    li.m-pagenation__list__link
      a.m-pagenation__list__link__text 5
