//-
//- お問い合わせ - 入力画面
//-
extends ../../_include/_layout
block vars
	- var pageTitle = "会社概要"
	- var assetsPath = "../"
	- var pageKey = "company/index"
	- var scriptFlag = false



block contents
	.l-head
		h1.m-ttl COMPANY#[span 企業情報]

	//-
	//- 企業全体
	//-
	section.l-company.inner.-m
		.change__tab
			ul
				li.-isActive #[span 企業情報]
				li: a(href="") 代表挨拶


		.company__items.inner.-m
			//- 企業トップ
			section.company__top
				.company__top__img
				h2.m-ttl2
					|「ありがとう」で結ばれる
					br
					|企業を目指して
				.company__top__subsentence
					p オフィス・ラボは、オフィス移転のプロジェクトマネジメント全般を手がけるトータルプロデュース会社です。
					p
						|常に新しいオフィスのあり方をイメージしながらプロ意識を持ってお客様の満足度を高め、
						br.__display-none
						|よりよいオフィスづくりのお手伝いをすることを心がけています。
					p
						|お客様の目線でオフィスの悩みを考え解決に導くことを重要とし、高品質とコスト最適化を両立させたご提案、
						br.__display-none
						|そして行き届いたサービスで「ありがとう」で結ばれる企業を目指します。

			section.company__strength
				//- 強み
				figure.company__strength__point1
					.company__strength__figure
						img(src="../assets/img/company/pyramid.png", alt="全国上位8.4%")
					figcaption.company__caption
						h3
							span.m-underline 全国上位8.4%の
							br
							span.__big.m-underline 優良企業として3年連続選出
						p オフィス・ラボは、東京商工リサーチが実施する企業信用調査を元に、一定の基準を満たした優良企業として選出されています。 優良企業は評価を受けた約151万社の中でも12万7,000社しか選出されておらず、全国の企業の中で上位8.4%にランクインしております。

				figure.company__strength__point2
					.company__strength__figure
						img(src="../assets/img/company/bar.png", alt="増収増益連続達成")
					figcaption.company__caption
						h3
							span.m-underline 創業以来、
							br
							span.__big.m-underline 増収増益を継続
						p
							span.m-bold オフィス・ラボは2010年の創業以来、増収増益を連続達成。
							br
							|毎年多くの新なお客様の組織課題を「オフィスのあり方」で解決し、オフィス移転のプロジェクトマネジメント全般を手がけるトータルプロデュース会社として常に成長し続けております。

			//- 【WIP】社長メッセージリンクは画像化を検討中
			include ../../_components/_c-presidentlink
		//- スライダーになる予定
		.company__office__img


		.inner.-m
			include ../../_components/_c-companyinfo
