//-
//- 記事一覧ページ
//-
extends ../../_include/_layout
block vars
	- var pageTitle = "施工事例一覧"
	- var assetsPath = "../"
	- var pageKey = "project/index"
	- var scriptFlag = false



block contents
	.l-head
		h1.m-ttl PROJECT#[span 事例一覧]

	//-
	//- 記事一覧
	//-
	section.l-project
		//- 絞り込みエリア
		.project__accordion
			dl
				dt.accordion__btn
					button.m-btn(type="button" data-changed-text="閉じる") 事例を絞り込む
				dd.accordion__inner
					form(method="" action="")
						dl
							dt 規模から探す
							dd
								ul
									li
										label.m-form
											input(type="checkbox")
											span 50名までのオフィス
									li
										label.m-form
											input(type="checkbox")
											span 100名までのオフィス
									li
										label.m-form
											input(type="checkbox")
											span 300名までのオフィス
									li
										label.m-form
											input(type="checkbox")
											span 300名以上のオフィス
									li
										label.m-form
											input(type="checkbox")
											span 50名までのオフィス
									li
										label.m-form
											input(type="checkbox")
											span 100名までのオフィス
									li
										label.m-form
											input(type="checkbox")
											span 300名までのオフィス
									li
										label.m-form
											input(type="checkbox")
											span 300名以上のオフィス
							dt.-zone ゾーン
							dd.-zone
								ul
									li
										label.m-form
											input(type="checkbox")
											span エントランス
									li
										label.m-form
											input(type="checkbox")
											span 会議室
									li
										label.m-form
											input(type="checkbox")
											span ワークスペース
									li
										label.m-form
											input(type="checkbox")
											span フリースペース
									li
										label.m-form
											input(type="checkbox")
											span 床
									li
										label.m-form
											input(type="checkbox")
											span 壁
									li
										label.m-form
											input(type="checkbox")
											span サイン

							dt タイプから探す
							dd
								ul
									li
										label.m-form
											input(type="checkbox")
											span オフィス
									li
										label.m-form
											input(type="checkbox")
											span 店舗
									li
										label.m-form
											input(type="checkbox")
											span その他
							dt 完成年
							dd
								ul
									li
										label.m-form
											input(type="checkbox")
											span 2018年
									li
										label.m-form
											input(type="checkbox")
											span 2017年
									li
										label.m-form
											input(type="checkbox")
											span 2016年
									li
										label.m-form
											input(type="checkbox")
											span 2015年
									li
										label.m-form
											input(type="checkbox")
											span 2014年
									li
										label.m-form
											input(type="checkbox")
											span 2013年
									li
										label.m-form
											input(type="checkbox")
											span 2012年
									li
										label.m-form
											input(type="checkbox")
											span 2011年
									li
										label.m-form
											input(type="checkbox")
											span 2010年
						button.m-btn(type="submit") 絞り込み


		//- カテゴリー
		.project__category.inner.-s
			ul
				- for (var i = 0; i < 8; i++)
					li
						a(href="")
							figure(style="background-image: url(http://www.officelab-ka.com/wp-content/uploads/2016/12/005-520x277.jpg)")
							div
								span ENTRANCE
								b ワークスペース



		//- 事例一覧
		.project__items.inner
			ul.project__list
				-
					var items = [
						{img: "http://www.officelab-ka.com/wp-content/uploads/2016/12/011-810x540.jpg", ttl: "日本研紙様"},
						{img: "http://www.officelab-ka.com/wp-content/uploads/2016/09/jibannet-002.jpg", ttl: "地盤ネット総合研究所様"},
						{img: "http://www.officelab-ka.com/wp-content/uploads/2016/09/COLORS-003.jpg",ttl: "COLORS様"},
						{img: "http://www.officelab-ka.com/wp-content/uploads/2018/12/nexa-002_1-810x540.jpg",ttl: "全国試験運営センター様"},
						{img: "http://www.officelab-ka.com/wp-content/uploads/2018/11/OSRAM_002-810x540.jpg",ttl: "OSRAM様"},
					]
				each item in items
					li.project__item
						a(href="")
							.item__wrap
								.item__figwrap
									figure(style="background-image: url(" + item.img + ")")
							h3.item__ttl= item.ttl


		//- ページャ
		.project__pager
			.c-pager
				a(href="").-prev
				a(href="").-isCurrent 1
				a(href="") 2
				a(href="") 3
				a(href="").-ellipsis
				a(href="") 17
				a(href="").-next

