//-
//- トップページ
//-
extends ../_include/_layout
block vars
  - var pageTitle = "トップページ"
  - var assetsPath = "./"
  - var pageKey = "home"
  - var scriptFlag = true



block contents

  //-
  //- KV
  //-
  section.l-top__kv
    .l-top__kv__bg
    ul.l-top__kv__slider.js-slickSlider--topkv
      li.l-top__kv__slider__list
        .l-top__kv__slider__list__inner
          .l-top__kv__slider__list__inner__topper
            img.l-top__kv__slider__list__inner__topper__image(src="https://placehold.jp/300x300.png", alt="")
          .l-top__kv__slider__list__inner__footer
            .l-top__kv__slider__list__inner__footer__tag
            .l-top__kv__slider__list__inner__footer__description
              p.l-top__kv__slider__list__inner__footer__description__text 【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？
      li.l-top__kv__slider__list
        .l-top__kv__slider__list__inner
          .l-top__kv__slider__list__inner__topper
            img.l-top__kv__slider__list__inner__topper__image(src="https://placehold.jp/200x200.png", alt="")
          .l-top__kv__slider__list__inner__footer
            .l-top__kv__slider__list__inner__footer__tag
            .l-top__kv__slider__list__inner__footer__description
              p.l-top__kv__slider__list__inner__footer__description__text 【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？
      li.l-top__kv__slider__list
        .l-top__kv__slider__list__inner
          .l-top__kv__slider__list__inner__topper
            img.l-top__kv__slider__list__inner__topper__image(src="https://placehold.jp/200x150.png", alt="")
          .l-top__kv__slider__list__inner__footer
            .l-top__kv__slider__list__inner__footer__tag
            .l-top__kv__slider__list__inner__footer__description
              p.l-top__kv__slider__list__inner__footer__description__text 【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？
      li.l-top__kv__slider__list
        .l-top__kv__slider__list__inner
          .l-top__kv__slider__list__inner__topper
            img.l-top__kv__slider__list__inner__topper__image(src="https://placehold.jp/500x500.png", alt="")
          .l-top__kv__slider__list__inner__footer
            .l-top__kv__slider__list__inner__footer__tag
            .l-top__kv__slider__list__inner__footer__description
              p.l-top__kv__slider__list__inner__footer__description__text 【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？
      li.l-top__kv__slider__list
        .l-top__kv__slider__list__inner
          .l-top__kv__slider__list__inner__topper
            img.l-top__kv__slider__list__inner__topper__image(src="https://placehold.jp/500x500.png", alt="")
          .l-top__kv__slider__list__inner__footer
            .l-top__kv__slider__list__inner__footer__tag
            .l-top__kv__slider__list__inner__footer__description
              p.l-top__kv__slider__list__inner__footer__description__text 【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？

  .l-fixed-button
    .l-fixed-button__inner
      .l-fixed-button__inner__topper
        .l-fixed-button__inner__topper__inner
          .l-fixed-button__inner__topper__inner__menu
            span.l-fixed-button__inner__topper__inner__menu__line
            span.l-fixed-button__inner__topper__inner__menu__line
          p.l-fixed-button__inner__topper__inner__text menu

      .l-fixed-button__inner__main
        .l-fixed-button__inner__main__button
          p.l-fixed-button__inner__main__button__text したい・ほしいを<strong>探す</strong>
          .l-fixed-button__inner__main__button__icon
            span.icon-search2
              span.path1
              span.path2
              span.path3
        .l-fixed-button__inner__main__button
          p.l-fixed-button__inner__main__button__text したい・ほしいを<strong>叶える</strong>
          .l-fixed-button__inner__main__button__icon
            span.icon-star2
              span.path1
              span.path2