//-
//- トップページ
//-
extends ../_include/_layout
block vars
  - var pageTitle = "トップページ"
  - var assetsPath = "./"
  - var pageKey = "home"
  - var scriptFlag = true



block contents
  section.p-top__kv
    .p-top__kv__bg
      .p-top__kv__bg__js
        .slick-next
          span.icon-arrow
        .slick-prev
          span.icon-arrow
    ul.p-top__kv__slider.js-slickSlider-top__kv
      include ../_components/_molecules/squareCard
      +m-squareCard({ url:'https://placehold.jp/300x300.png', text:"【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
      +m-squareCard({ url:'https://placehold.jp/200x200.png', text:"【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
      +m-squareCard({ url:'https://placehold.jp/200x150.png', text:"【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
      +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
      +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
  section.p-top__latest
    include ../_components/_molecules/titleBorder
    +m-titleBorder({ title:"新着", subtitle:"Latest" })
    include ../_components/_organisms/wideCardList

  section.p-top__ranking
    include ../_components/_molecules/titleBorder
    +m-titleBorder({ title:"人気記事", subtitle:"Ranking" })
    ul.p-top__ranking__tab
      li.p-top__ranking__tab__list.tab-month.is-active
        p.p-top__ranking__tab__list__text 月間
      li.p-top__ranking__tab__list.tab-weekly
        p.p-top__ranking__tab__list__text 週間
      li.p-top__ranking__tab__list.tab-all
        p.p-top__ranking__tab__list__text すべて
    .p-top__ranking__slider
      .p-top__ranking__slider__arrow.js__arrow-top__ranking__month.is-active
        .slick-next
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
        .slick-prev
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
      .p-top__ranking__slider__arrow.js__arrow-top__ranking__weekly
        .slick-next
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
        .slick-prev
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
      .p-top__ranking__slider__arrow.js__arrow-top__ranking__all
        .slick-next
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
        .slick-prev
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
      ul.p-top__ranking__slider__inner.js-slickSlider-top__ranking__month.is-active
        include ../_components/_molecules/squareCard
        +m-squareCard({ url:'https://placehold.jp/300x300.png', text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/200x200.png', text:"【月間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/200x150.png', text:"【月間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【月間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【月間】鳩レースってどんなスポーツ？" })
      ul.p-top__ranking__slider__inner.js-slickSlider-top__ranking__weekly
        include ../_components/_molecules/squareCard
        +m-squareCard({ url:'https://placehold.jp/300x300.png', text:"【週間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/200x200.png', text:"【週間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/200x150.png', text:"【週間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【週間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【週間】鳩レースってどんなスポーツ？" })
      ul.p-top__ranking__slider__inner.js-slickSlider-top__ranking__all
        include ../_components/_molecules/squareCard
        +m-squareCard({ url:'https://placehold.jp/300x300.png', text:"【すべて】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/200x200.png', text:"【すべて】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/200x150.png', text:"【すべて】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【すべて】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【すべて】鳩レースってどんなスポーツ？" })


  section.p-top__feature
    include ../_components/_molecules/titleBorder
    +m-titleBorder({ title:"特集", subtitle:"Feature" })
    .p-top__feature__slider
      .p-top__feature__slider__arrow.js__arrow-top__feature
        .slick-next
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
        .slick-prev
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
      ul.p-top__feature__slider__inner.js-slickSlider-top__feature
        include ../_components/_molecules/squareCard
        +m-squareCard({ url:'https://placehold.jp/300x300.png', text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/200x200.png', text:"【月間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/200x150.png', text:"【月間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【月間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【月間】鳩レースってどんなスポーツ？" })

  section.p-top__hobby
    include ../_components/_molecules/titleBorder
    +m-titleBorder({ title:"趣味", subtitle:"Hobby" })
    .p-top__hobby__slider
      .p-top__hobby__slider__arrow.js__arrow-top__hobby
        .slick-next
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
        .slick-prev
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
      ul.p-top__hobby__slider__inner.js-slickSlider-top__hobby
        include ../_components/_molecules/squareCard
        +m-squareCard({ url:'https://placehold.jp/300x300.png', text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/200x200.png', text:"【月間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/200x150.png', text:"【月間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【月間】鳩レースってどんなスポーツ？" })
        +m-squareCard({ url:'https://placehold.jp/500x500.png', text:"【月間】鳩レースってどんなスポーツ？" })

  section.p-top__life
    include ../_components/_molecules/titleBorder
    +m-titleBorder({ title:"生活", subtitle:"Life" })

  section.p-top__learn
    include ../_components/_molecules/titleBorder
    +m-titleBorder({ title:"学び", subtitle:"Learn" })

  include ../_components/_layout/fixedButton