//-
//- トップページ
//-
extends ../_include/_layout
block vars
  - var pageTitle = "トップページ"
  - var assetsPath = "./"
  - var pageKey = "home"
  - var scriptFlag = true

block contents

  // kv
  section.p-top__kv
    .p-top__kv__bg
      .p-top__kv__bg__js
        .slick-next
          span.icon-arrow
        .slick-prev
          span.icon-arrow
    ul.p-top__kv__slider.js-slickSlider-top__kv
      include ../_components/_molecules/squareCard
      +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image1.jpg', tag: "特集", text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
      +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image2.jpg', tag: "趣味", text:"【月間】鳩レースってどんなスポーツ？" })
      +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image3.jpg', tag: "生活", text:"【月間】鳩レースってどんなスポーツ？" })
      +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image4.jpg', tag: "学び", text:"【月間】鳩レースってどんなスポーツ？" })
      +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image5.jpg', tag: "特集", text:"【月間】鳩レースってどんなスポーツ？" })

  section.p-top__latestRanking
    //新着順
    .p-top__latestRanking__latest
      include ../_components/_molecules/titleBorder
      +m-titleBorder({ title:"新着", subtitle:"Latest" })
      include ../_components/_organisms/wideCardList
    //ランキング
    .p-top__latestRanking__ranking
      include ../_components/_molecules/titleBorder
      +m-titleBorder({ title:"人気記事", subtitle:"Ranking" })
      ul.p-top__latestRanking__ranking__tab
        li.p-top__latestRanking__ranking__tab__list.tab-month.is-active
          p.p-top__latestRanking__ranking__tab__list__text 月間
        li.p-top__latestRanking__ranking__tab__list.tab-weekly
          p.p-top__latestRanking__ranking__tab__list__text 週間
        li.p-top__latestRanking__ranking__tab__list.tab-all
          p.p-top__latestRanking__ranking__tab__list__text すべて
      .p-top__latestRanking__ranking__slider
        .p-top__latestRanking__ranking__slider__arrow.js__arrow-top__ranking__month.is-active
          .slick-next
            span.icon-arrow2
              span.path1
              span.path2
              span.path3
          .slick-prev
            span.icon-arrow2
              span.path1
              span.path2
              span.path3
        .p-top__latestRanking__ranking__slider__arrow.js__arrow-top__ranking__weekly
          .slick-next
            span.icon-arrow2
              span.path1
              span.path2
              span.path3
          .slick-prev
            span.icon-arrow2
              span.path1
              span.path2
              span.path3
        .p-top__latestRanking__ranking__slider__arrow.js__arrow-top__ranking__all
          .slick-next
            span.icon-arrow2
              span.path1
              span.path2
              span.path3
          .slick-prev
            span.icon-arrow2
              span.path1
              span.path2
              span.path3
        ul.p-top__latestRanking__ranking__slider__inner.js-slickSlider-top__ranking__month.is-active
          include ../_components/_molecules/squareCard
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image1.jpg', ranking:1, tag: "特集", text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image2.jpg', ranking:2, tag: "趣味", text:"【月間】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image3.jpg', ranking:3, tag: "生活", text:"【月間】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image4.jpg', tag: "学び", text:"【月間】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image5.jpg', tag: "特集", text:"【月間】鳩レースってどんなスポーツ？" })
        ul.p-top__latestRanking__ranking__slider__inner.js-slickSlider-top__ranking__weekly
          include ../_components/_molecules/squareCard
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image2.jpg', tag: "特集", text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image3.jpg', tag: "趣味", text:"【月間】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image5.jpg', tag: "生活", text:"【月間】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image1.jpg', tag: "学び", text:"【月間】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image4.jpg', tag: "特集", text:"【月間】鳩レースってどんなスポーツ？" })
        ul.p-top__latestRanking__ranking__slider__inner.js-slickSlider-top__ranking__all
          include ../_components/_molecules/squareCard
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image4.jpg', tag: "特集", text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image2.jpg', tag: "趣味", text:"【月間】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image1.jpg', tag: "生活", text:"【月間】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image5.jpg', tag: "学び", text:"【月間】鳩レースってどんなスポーツ？" })
          +m-squareCard({ list:true, url:'/assets/img/dammy/dammy-image3.jpg', tag: "特集", text:"【月間】鳩レースってどんなスポーツ？" })

  // feature
  section.p-top__featureHobby
    .p-top__featureHobby__bg
    include ../_components/_molecules/titleBorder
    +m-titleBorder({ icon: "feature", title:"特集", subtitle:"Feature" })
    .p-top__featureHobby__topper
      include ../_components/_molecules/oblongCard
      +m-oblongCard({ url:'/assets/img/dammy/dammy-image2.jpg',
      text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
      tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
    .p-top__featureHobby__slider
      .p-top__featureHobby__slider__arrow.js__arrow-top__feature
        .slick-next
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
        .slick-prev
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
      ul.p-top__featureHobby__slider__inner.js-slickSlider-top__feature
        include ../_components/_molecules/oblongCard
        +m-oblongCard({ list:true, url:'/assets/img/dammy/dammy-image1.jpg',
        text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
        tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
        +m-oblongCard({ list:true, url:'/assets/img/dammy/dammy-image2.jpg',
        text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
        tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
        +m-oblongCard({ list:true, url:'/assets/img/dammy/dammy-image3.jpg',
        text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
        tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
        +m-oblongCard({ list:true, url:'/assets/img/dammy/dammy-image4.jpg',
        text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
        tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
        +m-oblongCard({ list:true, url:'/assets/img/dammy/dammy-image5.jpg',
        text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
        tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
    .p-top__featureHobby__footer
      a(href="").p-top__featureHobby__footer__link
        span.icon-btn
        p.p-top__featureHobby__footer__link__text 記事一覧を見る

  // hobby
  section.p-top__featureHobby
    .p-top__featureHobby__bg
    include ../_components/_molecules/titleBorder
    +m-titleBorder({ icon: "hobby", title:"趣味", subtitle:"Hobby" })
    .p-top__featureHobby__topper
      include ../_components/_molecules/oblongCard
      +m-oblongCard({ url:'/assets/img/dammy/dammy-image2.jpg',
      text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
      tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
    .p-top__featureHobby__slider
      .p-top__featureHobby__slider__arrow.js__arrow-top__hobby
        .slick-next
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
        .slick-prev
          span.icon-arrow2
            span.path1
            span.path2
            span.path3
      ul.p-top__featureHobby__slider__inner.js-slickSlider-top__hobby
        include ../_components/_molecules/oblongCard
        +m-oblongCard({ list:true, url:'/assets/img/dammy/dammy-image1.jpg',
        text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
        tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
        +m-oblongCard({ list:true, url:'/assets/img/dammy/dammy-image2.jpg',
        text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
        tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
        +m-oblongCard({ list:true, url:'/assets/img/dammy/dammy-image3.jpg',
        text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
        tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
        +m-oblongCard({ list:true, url:'/assets/img/dammy/dammy-image4.jpg',
        text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
        tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
        +m-oblongCard({ list:true, url:'/assets/img/dammy/dammy-image5.jpg',
        text:"【月間】鳩レースってどんなスポーツ？【マイナースポーツ特集Vol.9】鳩レースってどんなスポーツ？",
        tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] })
    .p-top__featureHobby__footer
      a(href="").p-top__featureHobby__footer__link
        span.icon-btn
        p.p-top__featureHobby__footer__link__text 記事一覧を見る

  // life
  section.p-top__lifeLearn
    include ../_components/_molecules/titleBorder
    +m-titleBorder({ icon: "life", title:"生活", subtitle:"Life" })
    include ../_components/_organisms/verticallyCardList
    +o-verticallyCardList([
      { url:"/assets/img/dammy/dammy-image1.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"日帰り旅行ツウな人の遊び方", link:"" }, { title:"日帰り旅行ツウな人の遊び方", link:"" }, { title:"日帰り旅行ツウな人の遊び方", link:""}] },
      { url:"/assets/img/dammy/dammy-image2.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
      { url:"/assets/img/dammy/dammy-image3.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
      { url:"/assets/img/dammy/dammy-image4.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
      { url:"/assets/img/dammy/dammy-image5.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
      { url:"/assets/img/dammy/dammy-image1.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
    ])
    .p-top__lifeLearn__footer
      a(href="").p-top__lifeLearn__footer__link
        span.icon-btn
        p.p-top__lifeLearn__footer__link__text 記事一覧を見る
      

  // learn
  section.p-top__lifeLearn
    include ../_components/_molecules/titleBorder
    +m-titleBorder({ icon: "learn", title:"学び", subtitle:"Learn" })
    include ../_components/_organisms/verticallyCardList
    +o-verticallyCardList([
      { url:"/assets/img/dammy/dammy-image1.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"日帰り旅行ツウな人の遊び方", link:"" }, { title:"日帰り旅行ツウな人の遊び方", link:"" }, { title:"日帰り旅行ツウな人の遊び方", link:""}] },
      { url:"/assets/img/dammy/dammy-image2.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
      { url:"/assets/img/dammy/dammy-image3.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
      { url:"/assets/img/dammy/dammy-image4.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
      { url:"/assets/img/dammy/dammy-image5.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
      { url:"/assets/img/dammy/dammy-image1.jpg", date:"2019.08.14" , title:"ダミー日帰りで行ける海が綺麗なビーチを探せ！", tag:[{ title:"ビーチ", link:"" }, { title:"日帰り旅行", link:"" }, { title:"休日", link:"" }] },
    ])
    .p-top__lifeLearn__footer
      a(href="").p-top__lifeLearn__footer__link
        span.icon-btn
        p.p-top__lifeLearn__footer__link__text 記事一覧を見る