// #1 トップページ
// -----------------------------------
@import "../..//_utils/_variables";
@import "../../_utils/_mixins";

.p-article__topper {
  z-index: 0;

  @include screen-morelarge {
    margin-top:80px;
  }

  .o-topperSection {
    padding:40px 20px 60px 20px;
    background-color: $bg-1-color;  

    @include screen-large {
      padding:50px 20px 50px 20px;
    }

  }
}

.p-article__main {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  margin-top:40px;
  z-index: 0;
  padding:0 15px;

  @include screen-large {
    display: flex;
    margin-top:60px;
    justify-content: space-between;
    padding-bottom:60px;
  }

  .p-article__main__content {
    width: 100%;

    @include screen-large {
      max-width: 60%;
    }


    .p-article__main__content__refine {
      position: relative;
      width: 100%;
      z-index: 1;
    
      @include screen-large {
        position: static;
        padding:0;
        order: 2;
      }
    
      .p-article__main__content__refine__inner {
        position: absolute;
        left:50%;
        transform: translateY(-75px) translateX(-50%);
        background-color: $bg-13-color;
        min-height: 52px;
        padding:11px 20px;
        width: calc(100% - 30px);
        border-radius: 4px;
    
        @include screen-large {
          left:0;
          transform: translateY(0) translateX(0);
          position: static;
          width: 100%;
        }  
    
        .p-article__main__content__refine__inner__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
    
          .p-article__main__content__refine__inner__header__title {
            font-size:$font-s;
            font-weight: $font-bold;
          }
    
          .p-article__main__content__refine__inner__header__icon {
            height: 27px;
            width: 27px;
            background-color: $bg-6-color;
            border-radius: 25px;
            position: relative;
    
            span {
              position: absolute;
              height: 2px;/*線の太さ*/
              width: 13px;/*長さ*/
              border-radius: 3px;
              background:$bg-base-color;
              display: block;
              content: '';
              cursor: pointer;
    
              &:nth-child(1) {
                left:50%;
                top:50%;
                transform: translateX(-50%) translateY(-50%) rotate(90deg);
    
                &.is-active {
                  transform: translateX(-50%) translateY(-50%);
                }
              }
    
              &:nth-child(2) {
                left:50%;
                top:50%;
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
    
                &.is-active {
                  transform: translateX(-50%) translateY(-50%);
                }
              }
            }
          }
        }
    
        .p-article__main__content__refine__inner__selectArea {       
          display: none;
          height: auto;

          .o-classificationList {
            padding-bottom:10px;
          }
        }  
      }
    }
    
  
    .p-article__main__content__column {
  
      @include screen-large {
        order: 1;
      }
  
      .p-article__main__content__column__result {

        @include screen-large {
          margin-top:20px;
        }
    
        .p-article__main__content__column__result__category {
          display: flex;
          justify-content: flex-start;
    
          .p-article__main__content__column__result__category__text {
            font-size: $font-s;
            font-weight: $font-bold;
            
            strong {
              font-size: $font-m;
              background: linear-gradient(transparent 60%, $bg-1-color 40%);
            }
          }
        }
    
        .p-article__main__content__column__result__number {
          display: flex;
          justify-content: flex-end;
    
          .p-article__main__content__column__result__number__text {
            font-size: $font-xs;
            font-weight: $font-bold;
            color:$font-4-color;
          }
        }
      }

      .o-verticallyCardList {
        margin-top:10px;

        .m-verticallyCard {

          &:nth-of-type(-n+2) {
            margin-top:0;
          }
        }
      }
    }
  }

  .p-article__main__sidebar {
    display: none;

    @include screen-large {
      display: block;
      width: 35%;
      min-width: 300px;
    }
    
  }
}

.p-article__footer {
  margin-top:50px;
  padding-bottom:60px;
  width: 100%;
  overflow:hidden;

  @include screen-large {
    display: none;
  }

  .m-titleBorder {
    padding:0 15px;

  }
}