// #xxx 記事一覧
// -----------------------------------
@import "../../_utils/_variables";
@import "../../_utils/_mixins";


.l-head {
	padding: 80px 0;
	@include screen-medium() {
		padding: 80px 0 40px;
	}
}

//
// 記事一覧
//
.l-articles {
	background: #f6f6f6;
	padding: 100px 20px 80px;
	@include screen-medium() {
		padding: 40px 0;
	}
}

.articles__accordion {
	display: none;
	.inner {
		position: relative;
	}
	dl {
		background: #333;
		width: 260px;
		position: absolute;
		top: -135px;
		right: 1px;
		z-index: 1;
		color: #fff;
	}
	dt {
		padding: 25px 28px 25px 0;
		text-align: right;
		font-size: 1.4rem;
		font-weight: bold;
		cursor: pointer;

		&::after {
			content: "\e903";
			font-family: 'icomoon';
			display: inline-block;
			margin-left: 16px;
		}
	}
	dd {
		//display: none;
		padding-top: 10px;
	}
	a {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 20px;
		font-size: 1.4rem;
		&:hover {
			background: #fff;
			color: #333;
			span {
				background: #333;
				color: #fff;
			}
		}
	}
	span {
		background: #fff;
		border-radius: 30px;
		display:	flex;
		justify-content: center;
		align-items: center;
		min-width: 26px;
		height: 20px;
		color: #333;
		font-size: 1rem;
	}
}



.articles__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
	&::after {
		content:"";
		display: block;
		width: calc(30% + 20px);
	}
	@include screen-medium() {
		display: block;
		padding: 0 12px;
	}
}

.articles__item {
	margin-bottom: 40px;
	width: calc( (100% / 3) - 20px );
	background: #fff;
	@include screen-medium() {
		width: 100%;
		margin-bottom: 20px;
	}
	a {
		display: block;
	}
	figure {
		padding-bottom: 61.8%;
		position: relative;
		background-size: cover;
		background-position: center center;
	}
	figcaption {
		background: #FF8F00;
		color: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 120px;
		padding: 8px 0;
		text-align: center;
		font-weight: bold;
		font-size: 1.2rem;
	}
	.item__wrap {
		padding: 30px;
		@include screen-medium() {
			padding: 16px;
		}
	}
	.item__title {
		font-weight: bold;
		line-height: 1.4;
		font-size: $font-l;
		@include screen-medium() {
			font-size: $font-m;
		}
	}
	p {
		font-size: $font-s;
		color: #666;
		margin-top: 16px;
		margin-bottom: 16px;
		@include screen-medium() {
			font-size: $font-xs;
		}
	}
	time,span {
		font-weight: bold;
		margin-right: 8px;
		@include screen-medium() {
			font-size: $font-s;
		}
	}
}
