// #xxx コラム詳細
// -----------------------------------
@import "../../_utils/_variables";
@import "../../_utils/_mixins";


.l-head {
	padding: 80px 0;
}





/**************************************
	記事レイアウト
**************************************/
.l-article {
	background: #f6f6f6;
	padding: 50px 20px 80px;
	@include screen-medium() {
		padding-bottom: 30px;
		padding-left: 0;
		padding-right: 0;
	}
}
.l-article--wrap {
	display: flex;
	align-items: flex-start;
	@include screen-medium() {
		display: block;
	}

}
.l-article--left {
	width: 680px;
	@include screen-medium() {
		width: 100%;
	}
}
.l-article--right {
	height: auto;
	flex: 1;
	margin-left: 50px;
	background: #fff;
	@include screen-medium() {
		width: 100%;
		margin-left: 0;

	}
}







/**************************************
	記事本文
**************************************/

// 記事本文 - ヘッダ
.article {
	background: #fff;
}
.article__header_wrap {
	padding: 30px;
	@include screen-medium() {
		padding: 30px 12px;
	}
}
.article__header {
	figure {
		padding-bottom: 61.8%;
		background-size: cover;
		background-position: center center;
		position: relative;
		figcaption {
			width: 60px;
			height: 60px;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $primary-color;
			position: absolute;
			top: 20px;
			right: 20px;
			font-size: 1rem;
			font-weight: bold;

		}
	}

	h1 {
		font-size: 2.8rem;
		font-weight: bold;
		line-height: 1.4;
		display: inline;
		background: linear-gradient(transparent 75%, $primary-color 50%);
	}
}

.article__header_info {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	span {
		display: block;
		border: #f2f2f2 solid 2px;
		font-size: 1rem;
		padding: 6px 16px;
		color: #666;
		background: #f2f2f2;
		font-weight: bold;
		border-radius: 4px;
		margin-right: 16px;
	}
	time {
		display: block;
		font-size: 1.2rem;
		font-weight: bold;
	}
}

.article__sns {
	margin-top: 30px;
}

// 記事本文 - ボディ
.article__body {
	padding: 0 30px;
	@include screen-medium() {
		padding: 0 12px;
	}
	h1,h2,h3,h4 {
		font-size: $font-xxl;
		line-height: 1.4;
		background: linear-gradient(transparent 80%, $primary-color 50%);
		display: inline;
		span {
			text-decoration: none!important;
		}
		u {
			text-decoration: none;
		}
	}
	p {
		@include screen-medium() {
			text-align: justify;
			font-size: $font-s;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}

	a {
		color: $link-color;
		text-decoration: underline;
		&[target="_blank"] {
			&::after {
				content: "\e3e0";
				font-family: 'icomoon';
				font-weight: normal;
				margin-left: 1px;
			}
		}
	}
	.aligncenter {
		display: block;
		margin: 0 auto;
	}
}


// 記事本文 - フッター
.article__footer {
	padding: 0 30px 30px;
	margin-top: 40px;
	@include screen-medium() {
		padding: 0 12px 30px;
	}
}
.article__footer_likeBox {
	display: flex;
	margin-top: 20px;
	figure, > div {
		width: 50%;
	}
	figure {
		padding-bottom: 30.9%;
		background-size: cover;
		background-position: center center;
	}
	> div {
		background: #f2f2f2;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		b {
			line-height: 1.8;
			display: block;
			margin-bottom: 20px;
			@include screen-medium() {
				font-size: 1.3rem;
				line-height: 1.4;
			}
		}
	}
}







/**************************************
	前後の記事リンク
**************************************/
.article__prevnext {
	margin-top: 15px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	//padding: 16px;




	@include screen-medium() {
		padding: 12px;
	}
	@include screen-medium() {
		display: block;
	}
	a {
		display: block;
		transition: all .3s ease;
		&:hover {
			opacity: .7;
			//background: $primary-color;
		}

	}
	.prev,
	.next {
		width: 42%;
		flex: 1;
		display: flex;
		align-items: center;
		padding: 16px 0;



		@include screen-medium() {
			width: 100%;
		}
		figure {
			width: 65px;
			height: 65px;
			background-size: cover;
			background-position: center center;
		}
		div {
			flex: 1;
		}
		time {
			font-size: $font-s;
			font-weight: bold;
		}
		p {
			font-size: $font-s;
		}
	}
	.prev {
		padding-left: 16px;



		@include screen-medium() {
			//border-bottom: #eee solid 1px;
			padding-bottom: 12px;
			&::before {
				content: "\e902";
				font-family: 'icomoon';
				margin-right: 12px;
			}
		}
		figure {
			margin-right: 16px;
		}
	}
	.next {

		padding-right: 16px;

		text-align: right;
		@include screen-medium() {
			padding-top: 12px;
			&::after {
				content: "\e901";
				font-family: 'icomoon';
				margin-left: 12px;
			}
		}
		figure {
			margin-left: 16px;
		}
	}
	.archive {
		width: 16%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 1rem;
		font-weight: bold;

		@include screen-medium() {
			border-top: #eee solid 1px;
			border-bottom: #eee solid 1px;
			width: 100%;
			padding: 16px 0;
		}

		&::before {
			content: "\e908";
			font-family: 'icomoon';
			display: block;
			font-size: 1.4rem;
			margin-bottom: 8px;
			font-weight: normal;
		}
	}
}




/**************************************
	関連記事
**************************************/
.article__related {
	margin-top: 24px;
	> b {
		display: block;
		margin-bottom: 24px;
		color: #4f4f4f;
		font-size: $font-xl;
		@include screen-medium() {
			padding-left: 12px;
		}
	}
	li {
		background: #fff;
		transition: all .3s ease;

		&:nth-of-type(n + 2) {
			border-top: #eee solid 1px;
		}
		a {
			display: flex;
			padding: 16px;
			@include screen-medium() {
				padding: 12px;
			}
		}
		figure {
			width: 140px;
			margin-right: 20px;
			background-size: cover;
			background-position: center center;
		}
		div {
			flex: 1;
			padding: 10px 0;
		}
		b {
			font-size: $font-l;
			@include screen-medium() {
				font-size: 1.6rem;
				line-height: 1.4;
			}
		}
		p {
			font-size: $font-s;
			margin-top: 16px;
			color: #666;
			@include screen-medium() {
				display: none;
			}
		}
		time {
			font-size: 1.2rem;
			color: #666;
			font-weight: bold;
			margin-top: 16px;
			display: block;
		}

		&:hover {
			opacity: .7;
			//background: $primary-color;
		}
	}
}





/**************************************
	サイドメニュー
**************************************/
.article__new {
	> b {
		display: block;
		color: #4f4f4f;
		padding: 24px 16px 8px;
		font-size: $font-xl;

		@include screen-medium() {
			background: #f6f6f6;
			padding: 24px 12px;
		}
	}
	li {
		background: #fff;
		transition: all .3s ease;

		&:nth-of-type(n + 2) {
			border-top: #eee solid 1px;
		}
		a {
			display: flex;
			padding: 16px;
			align-items: center;
			@include screen-medium() {
				padding: 12px;
			}
		}
		figure {
			width: 75px;
			height: 75px;
			margin-right: 20px;
			background-size: cover;
			background-position: center center;
		}
		div {
			flex: 1;
		}
		b {
			font-size: $font-s;
			font-weight: normal;
		}
		p {
			font-size: 1.2rem;
			margin-top: 16px;
			color: #666;
		}
		time {
			font-size: 1rem;
			color: #666;
			font-weight: bold;
			margin-top: 8px;
			display: block;
		}

		&:hover {
			opacity: .7;
			//background: $primary-color;
		}
	}
}

