/*
$font-xs: 1rem;
$font-s: 1.2rem;
$font-m: 1.4rem;
$font-l: 1.6rem;
$font-xl: 1.8rem;
$font-xxl: 2rem;
*/
.l-head {
  padding: 80px 0;
}

.l-privacy {
  border-top: #e0e0e0 solid 1px;
}

.privacy__wrap {
  width: 620px;
  margin: 60px auto 0;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .privacy__wrap {
    width: 100%;
    padding: 0 12px;
  }
}

.privacy__wrap > section:nth-of-type(n + 2) {
  border-top: #e0e0e0 solid 1px;
  margin-top: 60px;
  padding-top: 60px;
}

.privacy__wrap > section > b {
  display: block;
  margin-bottom: 30px;
  font-size: 2.4rem;
  color: #444;
}

.privacy__wrap p {
  font-size: 1.4rem;
  color: #666;
}

@media (max-width: 767px) {
  .privacy__wrap p {
    text-align: justify;
  }
}

.privacy__wrap dl dt {
  margin-top: 40px;
  font-weight: bold;
  color: #444;
  margin-bottom: 16px;
}

.privacy__wrap address.-right {
  margin-top: 40px;
  text-align: right;
}

.privacy__wrap address > b {
  font-size: 1.4rem;
  color: #777;
  display: block;
  margin: 16px 0 16px;
}

.privacy__wrap ul {
  margin-left: 2rem;
  margin-top: 8px;
}

.privacy__wrap ul li {
  list-style-type: disc;
  color: #666;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 8px;
}
