@charset "UTF-8";
/*20150630追加*/
.txt_size {
    font-size: 100%;
}

.career_btn li:first-child {
    background-color: #fff;
    color: #666;
    text-align: center;
    font-size: 154%;
    font-weight: bold;
}
.career_btn li:first-child .small_txt {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.05em;
}
.career_btn li:first-child a {
    background-color: #82AE46;
    color: #fff;
    display: block;
    padding: 50px 0 50px 20px;
    width: 315px;
    border: solid 1px #cccccc;
}
.career_btn li:nth-child(2) {
    display: block;
    background-color: #DB8449;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.career_btn li a .kigo {
    background-image: url("img/arrow_btn.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px;
}
.career_btn li:nth-child(2) a {
    background-color: #DB8449;
    color: #ffffff;
    display: block;
    padding: 50px 0 50px 10px;
    width: 315px;
}
.career_btn li:nth-child(3) {
    background-color: #2792C3;
    text-align: center;
    font-size: 154%;
    font-weight: bold;
}
.career_btn li:nth-child(3) a {
    background-color: #2792C3;
    color: #ffffff;
    display: block;
    padding: 50px 0;
    width: 315px;
}

#worksbar .line_gray {
    border: none;
    border-top: solid 1px #C8C8C8;
    margin-bottom: 25px;
}

#single .add_career .career_title {
    font-weight: bold;
    font-size: 216%;
    text-align: center;
    color: #dc9610;
}
#single .add_career .career_txt {
    margin: 15px 0 30px 140px;
}

.txt_bold {
    font-weight: bold;
    display: block;
    font-size: 124%;
}

.p_m_space {
    margin-top: 20px;
}

.txt_top_space {
    padding-top: 10px;
}

.txt_center {
    width: 1040px;
    margin: 0 auto;
}
.txt_center .breadcrumb, .txt_center .hgroup01 {
    margin-bottom: 15px;
}

.txt_move li {
    margin-left: 3em;
    text-indent: -3em;
}

#contents.page .info .inner article table .td_medius {
    margin-bottom: 0px;
}
#contents.page .info .inner article table .td_medius tr {
    border: none;
}
#contents.page .info .inner article table .td_medius td {
    padding: 0 40px 0 0;
    margin-left: 1em;
    text-indent: -1em;
}
#contents.page .info .inner article table .td_medius td.alignR {
    text-align: right;
}

.link_space01 li {
    padding-left: 9px;
}

.link_space02 li {
    padding-left: 14px;
}

/*Add 2017.05.13*/
#carousel{
	margin-bottom: 45px;
}
.design_container h1{
	background-color: #FFF;
	padding: 10px 15px;
	/*margin-bottom: 10px;*/
	border-bottom:#BBB 1px dotted;
    font-weight: bold;
    font-size: 143%;
    line-height: 1.2;
	font-weight: bold;
}
.design_container h2{
	background-color: #FFF;
	padding: 10px 15px;
	border-bottom:#BBB 1px dotted;
    font-weight: bold;
    font-size: 121%;
    line-height: 1.2;
}
.design_container p{
	background-color: #FFF;
	padding: 10px 15px;
	margin-bottom: 10px;
}
.social-single{
	padding: 20px 0 0;
	min-height: 80px;
	border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
	margin-top: 10px;
}
.social-single ul{
	margin: 0 auto;
	line-height: 1;
    display: table;
}
.social-single ul>li{
	display: table-cell;
    height: 90px;
    vertical-align: top;
    padding: 0 5px;
}
.project{
	background-color: #FFF;
	padding: 10px 10px;
	margin-bottom: 10px;
	height: 120px;
}
.project p.detail
{
	width: 50%;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding-top: 50px;
	height: 70px;
	background-color: #EBEBEB;
    font-weight: bold;
    font-size: 121%;
    line-height: 1.2;
}
.project dl.detail
{
	width: 48%;
	float: left;
	margin: 5px;
}

.project > dl.detail dt{
	float: left;
    clear: both;
    position: relative;
	padding: 3px 5px;
	width: 80px
}
.project > dl.detail dd{
	float: left;
    padding:3px 5px 3px 8px;
}
.work_tag {
	margin-bottom: 5px;
}
.work_tag ul{
	
}
.work_tag li{
	display: inline-block;
	background-color: #FFF;
	margin: 3px 3px 3px 0px;
	padding: 8px 14px;
	height: 20px;
}
.near h2{
	margin-top: 15px;
	padding: 8px 5px;
    font-weight: bold;
    font-size: 143%;
    line-height: 1.2;
    background: url(img/bg_common_border01.gif) center bottom no-repeat;
	text-align: left;
}
.near{
	margin-bottom: 5px;
	text-align: center;
}
.near ul{}
.near li{
	display: inline-block;
	padding: 5px 3px 0px 0px;
	text-align: center;
}
.near img{
	margin-bottom: 5px;
}

.projectDetail{
	margin-bottom: 18px;
	background-color: #FFF;
}
.projectDetail h2{
	padding: 10px 15px;
	border-bottom:#BBB 1px dotted;
    font-weight: bold;
    font-size: 116%;
    line-height: 1.2;
}
table.detailLine{
	background-color: #FFF;
	width: 100%;
	border: 0px;
	padding: 10px;
}
table.detailLine th{
	font-weight: bold;
	background-color: #F4F4F4;
	padding: 8px;
	width: 20%;
}
table.detailLine td{
	padding: 8px;
	width: 30%;
}
#carousel > .flex-viewport{
	padding: 3px;
}
#carousel_line > .flex-active-slide img{
	/*border: 2px #FFD800 solid;*/
	/*box-shadow: 0 0 0 2px #FFD800 inset;*/
	border: 2px #FFD800 solid;
	margin: -2px;
}
.flex-control-paging li a.flex-active {
	background: #FFD800;
}
