.m-classificationArea {
  margin:0 0 0 -8px;
  display: flex;
  flex-wrap: wrap;

  @include screen-large {
    margin:8px 0 8px -8px;
  }

  .m-classificationArea__tag {
    display: flex;
    margin:5px 0 0 8px;
    font-size: $font-xxs;
    color:$font-2-color;
    position: relative;

    &:after{
      position: absolute;
      bottom: -3px;
      left: 0;
      content: "";
      display: inline-block;
      width: 0;
      height: 1px;
      background: $font-2-color;
      transition: 0.2s;
    }

    &:hover {

      @include screen-large {
        &:after {
          width: 100%;
        }    
      }
    }


    @include screen-large {
      font-size: 11px;
    } 

    &::before {
      content:"#";
      font-size: $font-xxs;
      color:$font-2-color;   

      @include screen-large {
        font-size: 11px;
      }    
    }
  }
}
