.m-classificationArea {
  margin:0 0 8px -8px;
  display: flex;
  flex-wrap: wrap;

  .m-classificationArea__tag {
    margin:5px 0 0 8px;
    font-size: $font-xxs;
    color:$font-2-color;   

    @include screen-large {
      font-size: $font-xs;
    }    

    &::before {
      content:"#";
      font-size: $font-xxs;
      color:$font-2-color;   

      @include screen-large {
        font-size: $font-xs;
      }    
    }
  }
}
