.m-oblongCard {
  height: 100%;

  .m-oblongCard__inner {

    &:hover {

      @include screen-large {
        box-shadow: 5px 5px 5px $bg-15-color;
        transition: 0.2s;
      }
    }
    
    .m-oblongCard__inner__topper {
      padding-top:80%;
      position: relative;
      overflow: hidden;
    
      .m-oblongCard__inner__topper__image {
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'; /*IE対策*/
      }
    }

    .m-oblongCard__inner__footer {
      padding:16px;
      background-color: $bg-6-color;

      @include screen-large {
        padding:20px;
      }    

      .m-oblongCard__inner__footer__date {
        display: none;

        @include screen-large {
          display: block;
          color:$font-1-color;
          font-size: $font-xs;
        }
      }

      .m-oblongCard__inner__footer__title {
        overflow: hidden;

        @include screen-large {
          margin-top:5px;
        }    
  
        .m-oblongCard__inner__footer__title__text {
          font-size: $font-m;
          line-height: 150%;
          font-weight: $font-medium;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        } 
      }

      .m-oblongCard__inner__footer__description {
        display: none;

        @include screen-large {
          display: block;
          overflow: hidden;
          margin-top:5px;
        }

        .m-oblongCard__inner__footer__description__text {
          font-size: $font-s;
          line-height: 170%;
          color:$font-1-color;
          font-weight: $font-medium;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;  
        } 
      }

      .m-classificationArea {
        margin:0 0 0 -8px;

        @include screen-large {
          margin-top:5px;
        }
      }
    }
  }
}