.m-selectboxArea {
  display: flex;
  flex-direction: column;

  @include screen-large {
    flex-direction: row;
    align-items: flex-start;
  }

  .m-selectboxArea__topper {
    display: flex;
    align-items: center;

    @include screen-large {
      width: 30%;
      min-width: 300px;
      align-items: flex-start;
      position: relative;
    }


    .m-selectboxArea__topper__required {
      background-color: $bg-4-color;
      color: $bg-6-color;
      border-radius: 4px;
      padding:5px;
      margin-right:8px;
      font-size: $font-xxs;
      font-weight: $font-bold;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 100%;
      white-space: nowrap;
    }
    .m-selectboxArea__topper__title {
      font-size: $font-s;
      font-weight: $font-bold;
      line-height: 100%;
      @include screen-large() {
      	position: relative;
				top: 2px;
      }
    }
  }

  .m-selectboxArea__under {
    margin-top:8px;
    width: 100%;
    position: relative;
    @include screen-large() {
    	padding-left:10px;
    }
		&_validationwrap {
			position: relative;
			&.is-validation {
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					left: 0;
					border: $bg-4-color solid 2px;
					z-index: 1;
					border-radius: 3px;
					pointer-events: none;
				}
				.m-selectboxArea__under__input {
					background: #fff;
				}
			}
		}

		.error {
			padding:5px 10px;
      border-radius: 1px;
      background-color: $bg-14-color;
      color:$bg-4-color;
      font-size: $font-xs;
      font-weight: $font-bold;
      line-height: 150%;
      margin-top: 10px;
		}

    @include screen-large {
      margin:0;
    }

    .m-selectboxArea__under__input {
      height: 46px;
      width: 100%;
      border-radius: 4px;
      background-color:$bg-3-color;
      outline: none;
      padding:10px 15px;
      font-weight:$font-bold;
      line-height: 150%;
      color: $font-5-color;
      appearance: none;
      cursor: pointer;
      position: relative;
    }
    .m-selectboxArea__under__icon {
      position: absolute;
      height: 46px;
      width: 46px;
      top:0;
      right: 0;
      border-radius:0 4px 4px 0;
      background-color: $bg-1-color;
      pointer-events: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon-head {
        transform: rotate(90deg);
        font-size: $font-xs;
      }
    }

    .m-selectboxArea__under__validation {
      margin-top:3px;
      width: 100%;
      padding-left:10px;

      @include screen-large {
        padding:0;
      }

      .m-selectboxArea__under__validation__text {
        padding:5px 10px;
        border-radius: 1px;
        background-color: $bg-14-color;
        color:$bg-4-color;
        font-size: $font-xs;
        font-weight: $font-bold;
        line-height: 150%;
      }
    }
  }
}

/* IE11 */
_:-ms-lang(x)::-ms-backdrop, .m-selectboxArea__under__input {
  color: #262626!important;
}
