.m-squareCard {
  height: 100%;

  .m-squareCard__inner {
    position: relative;
    display: block;

    .m-squareCard__inner__ranking {
      position: absolute;
      height: 60px;
      width: 60px;
      top:-10px;
      left:10px;
      z-index: 2;

      @include screen-large {
        top:6px;
        left: 6px;
        height: 30px;
        width: 30px;  
      }

      .m-squareCard__inner__ranking__icon {
        position: relative;
        height: 100%;
        width: 100%;

        >span {
          position: absolute;
          &::before {
            font-size:60px;
            margin:0;

            @include screen-large {
              font-size: 30px;
            }      
          }

          &.path2.rank-2 {
            
            &::before {
              color:$bg-11-color;
            }
          }

          &.path2.rank-3 {
            
            &::before {
              color:$bg-12-color;
            }
          }
        }
      }
      .m-squareCard__inner__ranking__rank {
        position: absolute;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include screen-large {
          height: 25px;
          width: 25px;  
        }
  

        .m-squareCard__inner__ranking__rank__text {
          display: flex;
          align-items: baseline;
          line-height: 100%;
          margin-top:10px;
          margin-left:3px;
          color:$bg-6-color;
          font-weight: $font-bold;
          font-family: 'Josefin Sans', sans-serif;

          @include screen-large {
            margin-top:6px;
            margin-left:3px;  
          }

          small {
            color:$bg-6-color;
            font-size: $font-s;
            font-weight: $font-bold;
  
            @include screen-large {
              display: none;
            }  
          }

          strong {
            font-size:23px;

            @include screen-large {
              display: block;
              font-size: $font-m;
            }              
          }  
        }
      }
    }
    
    .m-squareCard__inner__topper {
      padding-top:80%;
      position: relative;
      overflow: hidden;

      &:hover {        
    
        .m-squareCard__inner__topper__image {
  
          @include screen-large {
            transform: scale(1.05);
            transition: 0.4s;  
          }
        }
      }  
      
      .m-squareCard__inner__topper__image {
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'; /*IE対策*/
        transition: 0.4s;  
      }
    }

    .m-squareCard__inner__footer {
      background-color: $bg-3-color;
      padding:12px 8px;
      position: relative;

      .m-squareCard__inner__footer__sign {
        position: absolute;
        top: 0;
        transform: translateX(0%) translateY(-50%);
        border: $border-2;

        .m-squareCard__inner__footer__sign__text {
          display: flex;
          height: 100%;
          padding:4px 12px;
          justify-content: center;
          align-items: center;
          background-color:$bg-base-color; 
          color: $bg-6-color;
          font-size: $font-xs;
          font-weight: $font-bold; 
        }
      }


      .m-squareCard__inner__footer__title {
        display: block;
        overflow: hidden;
        width: 100%;

        .m-squareCard__inner__footer__title__text {
          width: 100%;
          font-size: $font-m;
          line-height: 150%;
          font-weight: $font-medium;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;  
          @media all and (-ms-high-contrast: none){
            max-height: calc(16px * 1.5 * 3);
            display: block;
          }
          overflow: hidden;

          @include screen-large {
            -webkit-line-clamp: 4; 
            @media all and (-ms-high-contrast: none){
              max-height: calc(16px * 1.5 * 4);  
              display: block;
            }
          }
        } 
      }

      .m-squareCard__inner__footer__description {
        display: none;

        @include screen-large {
          display: block;
          overflow: hidden;
          margin-top:5px;
          width: 100%;
        }

        .m-squareCard__inner__footer__description__text {
          font-size: $font-s;
          line-height: 170%;
          color:$font-1-color;
          font-weight: $font-medium;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;  
          @media all and (-ms-high-contrast: none){
            max-height: calc(14px * 1.7 * 2);
            display: block;
          }
          overflow: hidden;
        } 
      }

      .m-squareCard__inner__footer__classification {
        display: none;

        @include screen-large {
          display: block;
          width: 100%;
        }
      }
    }
  }
}