.m-squareCard {
  height: 100%;

  .m-squareCard__inner {
    position: relative;

    .m-squareCard__inner__ranking {
      position: absolute;
      height: 60px;
      width: 60px;
      top:-10px;
      left:10px;
      z-index: 2;

      .m-squareCard__inner__ranking__icon {
        position: relative;
        height: 100%;
        width: 100%;

        >span {
          position: absolute;
          &::before {
            font-size:60px;
            margin:0;
          }

          &.path2.rank-2 {
            
            &::before {
              color:blue;
            }
          }

          &.path2.rank-3 {
            
            &::before {
              color:green;
            }
          }
        }
      }
      .m-squareCard__inner__ranking__rank {
        position: absolute;
        height: 50px;
        width: 50px;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;

        .m-squareCard__inner__ranking__rank__text {
          display: flex;
          align-items: baseline;
          line-height: 100%;
          color:$bg-6-color;
          font-size: $font-s;
          font-weight: $font-bold;
  
          strong {
            font-size:23px;
          }  
        }
      }
    }
    
    .m-squareCard__inner__topper {
      padding-top:80%;
      position: relative;
      overflow: hidden;
    
      .m-squareCard__inner__topper__image {
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'; /*IE対策*/
      }
    }

    .m-squareCard__inner__footer {
      background-color: $bg-3-color;
      padding:12px 8px;
      position: relative;

      .m-squareCard__inner__footer__tag {
        position: absolute;
        top: 0;
        transform: translateX(0%) translateY(-50%);
        border: $border-2;

        .m-squareCard__inner__footer__tag__text {
          display: flex;
          height: 100%;
          padding:4px 12px;
          justify-content: center;
          align-items: center;
          background-color:$bg-base-color; 
          color: $bg-6-color;
          font-size: $font-xs;
          font-weight: $font-bold; 
        }
      }

      .m-squareCard__inner__footer__description {
        display: block;

        overflow: hidden;
        .m-squareCard__inner__footer__description__text {
          font-size: $font-m;
          line-height: 150%;
          font-weight: $font-medium;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;  
        } 
      }
    }
  }
}