.m-verticallyCard {
  width: 100%;

  .m-verticallyCard__inner {
    top:0;
    display: block;
    cursor: pointer;

    .m-verticallyCard__inner__topper {
      width: 100%;


      &:hover {        
    
        .m-verticallyCard__inner__topper__image {
  
          .m-verticallyCard__inner__topper__image__inner {
            @include screen-large {
              transform: scale(1.05);
              transition: 0.4s;
            }
          }
        }
      }
  
      .m-verticallyCard__inner__topper__image {
        display: block;
        padding-top:80%;
        width: 100%;
        position: relative;
        overflow: hidden;

        .m-verticallyCard__inner__topper__image__inner {
          position: absolute;
          top:0;
          left:0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          font-family: 'object-fit: cover;'; /*IE対策*/
          transition: 0.4s;  
        }
      }
    }

    .m-verticallyCard__inner__footer {
      width: 100%;
      box-sizing: border-box;
      padding:4px 0;

      @include screen-large {
        padding:0;
      }

      &:first-child {
        margin-top:0;
      }

        
      .m-verticallyCard__inner__footer__topper {
        display: flex;
        align-items: center;
        margin-top:5px;

        @include screen-large {
          margin-top:18px;
        }

        .m-verticallyCard__inner__footer__topper__date {
          font-size: $font-xxs;
          color:$font-1-color;  
          display: flex;
          align-items: center;
  
          @include screen-large {
            font-size: $font-xs;
          }    
        }  

        .m-verticallyCard__inner__footer__topper__new {
          font-family: 'Josefin Sans', sans-serif;
          font-size: $font-xxs;
          color:$font-1-color;
          display: flex;
          align-items: center;
          margin-left: 5px;
          padding:3px 10px 0px 10px;;
          background-color: $bg-4-color;
          color: $bg-3-color;
          line-height: 100%;
          font-weight: $font-bold;
          border-radius: 2px;
  
        }
      }

      .m-verticallyCard__inner__footer__description {
        display: none;

        @include screen-large {
          display: block;
          overflow: hidden;
          margin-top:5px;
        }

        .m-verticallyCard__inner__footer__description__text {
          font-size: $font-xs;
          line-height: 170%;
          color:$font-1-color;
          font-weight: $font-medium;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;  
          @media all and (-ms-high-contrast: none){
            max-height: calc(12px * 1.7 * 2);
            display: block;
          }
          overflow: hidden;

        } 
      }

      .m-verticallyCard__inner__footer__title {
        display: block;
        margin-top:5px;
        font-size: 13px;
        font-weight: $font-bold;
        color:$font-base-color;
        line-height: 150%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; 
        @media all and (-ms-high-contrast: none){
          max-height: calc(13px * 1.5 * 3);
          display: block;
        }
        overflow: hidden;

        @include screen-large {
          font-size: 15px;
          @media all and (-ms-high-contrast: none){
            max-height: calc(13px * 1.5 * 3);
          }
          -webkit-line-clamp: 3; 
        }
      }
    }
  }
}
