.m-verticallyCard {
  width: 100%;

  .m-verticallyCard__inner {
    top:0;
    display: flex;
    flex-direction: column;

    .m-verticallyCard__inner__topper {
      width: 100%;

      .m-verticallyCard__inner__topper__image {
        display: block;
        padding-top:80%;
        width: 100%;
        position: relative;

        .m-verticallyCard__inner__topper__image__inner {
          position: absolute;
          top:0;
          left:0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          font-family: 'object-fit: cover;'; /*IE対策*/
        }
      }
    }

    .m-verticallyCard__inner__footer {
      width: 100%;
      box-sizing: border-box;

        
      .m-verticallyCard__inner__footer__date {
        margin-top:5px;
        font-size: $font-xxs;
        color:$font-1-color;

        @include screen-large {
          margin-top:10px;
        }
      }

      .m-verticallyCard__inner__footer__description {
        display: none;

        @include screen-large {
          display: block;
          overflow: hidden;
          margin-top:5px;
        }

        .m-verticallyCard__inner__footer__description__text {
          font-size: $font-s;
          line-height: 170%;
          color:$font-1-color;
          font-weight: $font-medium;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;  
        } 
      }

      .m-verticallyCard__inner__footer__title {
        display: block;
        margin-top:5px;
        font-size: 13px;
        font-weight: $font-bold;
        color:$font-base-color;
        line-height: 150%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; 
        overflow: hidden;

        @include screen-large {
          margin-top:10px;
        }
      }

      .m-classificationArea {
        @include screen-large {
          margin-top:5px;
        }
      }
    }
  }
}
