.m-wideButton {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: $bg-base-color;
  border-radius: 4px;
  cursor: pointer;

  @include screen-large {
    max-width: 330px;
    margin:12px auto 0 auto;
  }

  &:hover {

    .icon-btn {

      @include screen-large {
        margin-right:3px;
        margin-left:7px;
        transition: 0.4s;
      }
    }
  }

  .icon-btn {
    color:$bg-6-color;
    font-size: 25px;
    transition: 0.4s;
    margin-right: 10px; 
  }

  .m-wideButton__text {
    color:$bg-6-color;
    font-size: $font-s;
    font-weight: $font-bold; 
  }
}