.m-wideCard {
  margin-top:14px;
  width: 100%;
  position: relative;

  .m-wideCard__pickup {
    position: absolute;
    top:0;
    left:0;
    transform: translateX(-10px) translateY(-10px);
    z-index: 2;
    background-color: $bg-6-color;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;


    .m-wideCard__pickup__inner {
      border-radius: 50%;
      height: 32px;
      width: 32px;
      background-color: $bg-4-color;
      display: flex;
      justify-content: center;
      align-items: center;

      .m-wideCard__pickup__inner__text {
        color: $bg-6-color;
        margin:0;
        line-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;  
        transform: rotate(-30deg);
        font-size: $font-xxs;
        font-weight: $font-bold;
      }
    }
  }


  .m-wideCard__inner {
    top:0;
    display: flex;
    cursor: pointer;

    &:hover {

      @include screen-large {
        box-shadow: 5px 5px 5px $bg-15-color;
        transition: 0.2s;
      }
    }


    @include screen-large {
      flex-direction: column;
    }

    .m-wideCard__inner__left {
      width: 40%;

      @include screen-large {
        width: 100%;
      }  

      .m-wideCard__inner__left__image {
        display: block;
        padding-top:80%;
        width: 100%;
        position: relative;

        .m-wideCard__inner__left__image__inner {
          position: absolute;
          top:0;
          left:0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          font-family: 'object-fit: cover;'; /*IE対策*/
        }
      }
    }

    .m-wideCard__inner__right {
      width: 70%;
      padding-left:15px;
      box-sizing: border-box;

      @include screen-large {
        width: 100%;
        padding-left: 0;
      }  
        
      .m-wideCard__inner__right__date {
        font-size: $font-xxs;
        color:$font-1-color;

        @include screen-large {
          margin-top:5px;
          font-size: $font-xs;
        }    
      }

      .m-wideCard__inner__right__description {
        display: none;

        @include screen-large {
          display: block;
          overflow: hidden;
          margin-top:5px;
        }

        .m-wideCard__inner__right__description__text {
          font-size: $font-xs;
          line-height: 170%;
          color:$font-1-color;
          font-weight: $font-medium;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;  
        } 
      }


      .m-wideCard__inner__right__title {
        display: block;
        margin-top:5px;
        font-size: 13px;
        font-weight: $font-bold;
        color:$font-base-color;
        line-height: 150%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; 
        overflow: hidden;

        @include screen-large {
          font-size: 15px;
        }    
      }
    }
  }
}
